[2020-11-16 10:07] MildTomato opened #5 "tailwindcss divide color not rendering correctly in browser"
# Bug report

## Describe the bug

Tailwind DivideColor styling is not being displayed correctly

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. use the following in Supabase-UI

[code]

2. the above will render incorrectly, with borders being shown on the left and right.

There is also issues with having to explicitly state 'border-{style}' for

[2020-12-15 14:16] MildTomato opened #1 "Migrate from javascript to typescript"
# Feature request

Migrate from JS to TS

[2020-12-16 02:40] MildTomato opened #2 "Initial v1 Release Components"
# Feat: Initial Components

**General**

- [ ] Button

- [ ] Typography
support for titles, paragraphs and labels
<Typography.Title level={1}>I am a h1</Typography.Title>

**Nav** (inc full width option)

- [ ] Tabs
_support nesting  - `<Tabs><TabPane></Tabs>`_

**Display**

- [ ] Card

**Overlays**

- [ ] Modal

**Data input** (Text, Number, Email etc)

- [ ] Input - Text field

- [ ] InputNumber

[2020-12-16 02:50] MildTomato opened #3 "Bug: React hooks not working when testing components locally with 'npm link'"
# Bug report

## Describe the bug

@MildTomato to update this bug report, need to add react hook back in and investigate. will post screenshots.

When testing components that use React hooks locally, using `npm link` (unpublished package) there seems to be a conflict with the React versions being used.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[2020-12-22 05:10] MildTomato opened #4 "Feat: Host Storybook docs website"
# Feature request

Deploy storybook docs website.
Also need to update instructions page in storybook

[2020-12-29 03:23] MildTomato commented on #1
all components are being migrated currently

[2020-12-29 03:26] MildTomato commented on #5
not fixed with tailwindcss 2.0.1
still wondering what is causing this. can't reproduce on play.tailwindcss.com so i'm convinced it's something wrong on our side - will keep checking

[2020-12-29 06:56] phamhieu opened #9 "feature: danger variant for button"
# Feature request

## Is your feature request related to a problem? Please describe.

For delete, remove action, we need a danger variant button

[2020-12-29 09:08] MildTomato commented on #3
Found a fix for this.

This is a little strange - you need to `npm-link` the react node module in the target app you want to use your library in (in this case, @supabase/ui). And then use that package alias inside the library, and then `npm-link` the library.

Step by step:

• run `npm link` in /your-app/node_modules/react. This should make the React's global link.

• run `npm link react` in /supa

[2020-12-29 09:10] MildTomato commented on #3
update README.md with above and close

[2021-01-02 13:06] MildTomato commented on #9
already done in feature branch im working on 🚀
(although `variant` is being renamed to `type`)

example use
[code]

will assign PR to this issue

[2021-01-04 09:33] MildTomato opened #11 "Auth component"
# Feature request

Auth component that can use Supabase client

support for:
• social auth sign up / sign in
• email sign up / sign in form
• magic link form
• forgotten password form

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've consider

[2021-01-04 09:35] MildTomato commented on #11
opened branch `feature/auth-component` for this

[2021-01-04 18:06] #2 closed

[2021-01-04 18:06] #3 closed

[2021-01-04 18:37] MildTomato commented on #1
reopening issue, as there's still some JS files hanging about

[2021-01-05 09:11] phamhieu commented on #9
I still can't find `danger` type on Button component.

[2021-01-05 09:17] phamhieu opened #12 "feature: button with icon only"
# Feature request

## Is your feature request related to a problem? Please describe.

I need to create a button with icon on center. Trying to use icon props but it's left alignment.

<img width="686" alt="Screenshot 2021-01-05 at 5 14 08 PM" src="https://user-images.githubusercontent.com/689843/103628282-bd453a80-4f79-11eb-9222-d253da8915f9.png">
<img width="111" alt="Screenshot 2021-01-05 at 5 1

[2021-01-05 09:23] phamhieu opened #13 "semantic release failed with wrong version number"
# Bug report

## Describe the bug

<img width="879" alt="Screenshot 2021-01-05 at 5 03 38 PM" src="https://user-images.githubusercontent.com/689843/103628909-9b988300-4f7a-11eb-97fe-460fbcdc39e6.png">
<img width="826" alt="Screenshot 2021-01-05 at 5 03 07 PM" src="https://user-images.githubusercontent.com/689843/103628928-9fc4a080-4f7a-11eb-88ce-f2a4c03ced7a.png">

I'm not sure why the version was

[2021-01-05 09:34] phamhieu opened #14 "feature: button color scheme"
# Feature request

## Is your feature request related to a problem? Please describe.

Primary color is too bright compare to the current Supabase button color.  It's difficult to see the white label.

<img width="210" alt="Screenshot 2021-01-05 at 5 37 03 PM" src="https://user-images.githubusercontent.com/689843/103630464-a522ea80-4f7c-11eb-9e70-30066ebf7ba1.png">

@MildTomato edits -
A couple of

[2021-01-05 11:06] MildTomato commented on #13
We've been having trouble with semantic release. I accidentally created a v1.0 release and tag and it's caused issues ever since.

@soedirgo has been helping out :D

[2021-01-05 11:11] soedirgo commented on #13
No need to manually update the version btw, semantic-release infers this from latest tag and commit messages. Though I guess it's confusing if package.json doesn't match...

[2021-01-05 11:16] MildTomato commented on #14
We have a bit of a mismatch across all the websites - I'll fix it up

[2021-01-05 11:17] MildTomato commented on #12
I think we also need a non rounded version, and we could do with a button type that matches that small button style in your screenshots.

[2021-01-05 11:37] MildTomato commented on #13
It might be that @phamhieu also had tags locally if he pulled the repo a while ago.

![Screenshot 2021-01-05 at 19 36 27](https://user-images.githubusercontent.com/8291514/103641846-5467bd80-4f8d-11eb-97ab-ce3805938f17.png)

this is all i have now, hopefully when i next merge in shortly it will actually make a release on NPM

[2021-01-05 11:44] MildTomato commented on #12
@phamhieu

If it's easier you can now use Icon component rather than using SVGs if it's in the [FeatherIcons](https://feathericons.com/) library

[code]

[2021-01-05 11:54] MildTomato commented on #9
@phamhieu sorry, your right, fixing

[2021-01-05 11:59] kiwicopple commented on #4
FYI I tried these settings on Netlify

<img width="477" alt="image" src="https://user-images.githubusercontent.com/10214025/103643899-6ac34880-4f90-11eb-86dc-9ce9c612bb1d.png">

and got this error:

[code]

You may have more luck ...

[2021-01-05 12:20] MildTomato commented on #14
![Screenshot 2021-01-05 at 20 20 11](https://user-images.githubusercontent.com/8291514/103645721-749a7b00-4f93-11eb-9704-3f547acfb21c.png)
 also missing this button

[2021-01-05 12:22] MildTomato opened #16 "feature: beforeLabel & afterLabel props"
# Feature request

## Is your feature request related to a problem? Please describe.

![Screenshot 2021-01-05 at 20 21 09](https://user-images.githubusercontent.com/8291514/103645824-9b58b180-4f93-11eb-8013-8a4031c733a1.png)

ability to add text to Inputs before and after the main label to show additional helpful tips.

[2021-01-05 12:28] MildTomato commented on #9
![Screenshot 2021-01-05 at 20 20 11](https://user-images.githubusercontent.com/8291514/103646393-8f212400-4f94-11eb-88ce-6ea7785dafa4.png)

also missing this type of button

[2021-01-05 12:37] MildTomato opened #17 "feature: Customization"
# Feature request

Ability to customize / style each component

## How it works now

it doesn't work at all, all the color variables are stuck in the ui lib and cannot be changed externally.
all colors are set as rgb() values, also resulting in overriding externally as a tedious job.

If someone wanted to implement a 'brand color' change, they would need to target with CSS every class name that wo

[2021-01-05 13:02] kiwicopple commented on #14
A couple of others

- The button is more rounded
- There is no dark-green text shadow

[2021-01-05 14:53] MildTomato commented on #4
@joshenlim had almost the exact same error running storybook locally.

turns out it's because react-dom is just a peer dependency, but should also (maybe?) be a dev dependency as well.

@joshenlim your changes on your chore branch will probably fix this

[2021-01-05 14:57] #4 closed

[2021-01-05 15:00] MildTomato commented on #9
@phamhieu

`danger` is now a boolean prop. Took some inspiration from Antd.
danger can be applied to any type of button now.

[code]

[2021-01-05 15:20] #9 closed

[2021-01-06 01:47] phamhieu commented on #12
I use the latest `ui` lib version. But the rendered button is different:

<img width="119" alt="Screenshot 2021-01-06 at 9 45 25 AM" src="https://user-images.githubusercontent.com/689843/103719470-0c37b200-5004-11eb-8e32-0a2e05fb4ff1.png">

on hover

<img width="134" alt="Screenshot 2021-01-06 at 9 45 32 AM" src="https://user-images.githubusercontent.com/689843/103719476-0f32a280-5004-11eb-8073-44

[2021-01-06 02:12] phamhieu opened #19 "feature: button with fullwidth option"
# Feature request

## Is your feature request related to a problem? Please describe.

<img width="468" alt="Screenshot 2021-01-06 at 10 08 44 AM" src="https://user-images.githubusercontent.com/689843/103720835-3ccd1b00-5007-11eb-9006-b9d7d12160d7.png">

I need the button to fill the width and center label.

## Describe the solution you'd like

<img width="459" alt="Screenshot 2021-01-06 at 10 11 2

[2021-01-06 03:23] MildTomato commented on #19
@phamhieu use the `block` prop

[code]

I'll close this for now. just reopen it if it doesn't work

[2021-01-06 03:24] #19 closed

[2021-01-06 03:45] MildTomato commented on #14
Fixing this now

[2021-01-06 04:15] MildTomato commented on #14
We do have a few mismatch of colours in a few places.

in the auth home screen in `/app` we use `green-600` on the large buttons, but in the button component we use `green-500`. the tailwind config doesn't actually contain our brand color of #3ECF8, although `green-600` is close (ish).

I think @kiwicopple text shadow should fix how it looks though - so i'll test it out.

we should probably update

[2021-01-06 05:18] MildTomato commented on #14
made some improvements - looks good with shadows.
i'll leave this issue open though for now.

[2021-01-06 05:35] MildTomato opened #21 "chore: add fonts to storybook website"
# Chore

add custom fonts to storybook website to show components in context

[2021-01-06 06:26] MildTomato commented on #12
@phamhieu probably working ok from v0.1.6

[2021-01-06 06:47] MildTomato commented on #12
issue with Icon showing without color prop. fixing that now

[2021-01-06 07:46] joshenlim opened #23 "Feature: Tabs"
# Feature request

Thinking of using `ui` in repository.surf as well - wondering if we can have tabs:
https://tailwindui.com/components/application-ui/navigation/tabs#component-556317db33900f6182a5f45cd9b50300

![image](https://user-images.githubusercontent.com/19742402/103742719-40c46180-5036-11eb-9261-6c1ab3bc115b.png)

[2021-01-06 09:09] MildTomato commented on #23
@joshenlim  what do you think?

I'm thinking we add something like <Tab.Panel> which can support children.
So then when a tab is clicked, the corresponding panel is shown.

[code]

  We could also support having no children,
  in case the tab menu wants to be used alone and the callbacks could be used to control what content is shown.
[code]

[2021-01-06 09:35] joshenlim commented on #23
yeah i think this sounds good - having the option for either no children or with children, gives some flexibility.

If thats the case does it also imply that if no children is passed - Each Tab.Panel will have its own styling
But if a children is provided, - Each Tab.panel will not have its own styling, it'll depend on the children's styles for the looks

[2021-01-06 09:52] kiwicopple commented on #14
Nice one - also:

<img width="170" alt="image" src="https://user-images.githubusercontent.com/10214025/103754709-ae2cbe00-5047-11eb-9c0a-b8e42609da69.png">

left side of the button -> icon
vs
right side of the icon -> text

The space between these looks different yeah? Should they be even?

[2021-01-06 10:02] MildTomato commented on #14
let's make a right icon option 👍  (also I want it for @joshenlim's chevron 😄 )

i think the alignment might be caused by feathericons taking some liberty with their margins - might not be the best icon pack to use.

![Screenshot 2021-01-06 at 17 59 58](https://user-images.githubusercontent.com/8291514/103755683-29db3a80-5049-11eb-9d2d-548a15dba3d9.png)
![Screenshot 2021-01-06 at 17 59 10](https://

[2021-01-06 10:08] MildTomato opened #24 "Feature: Large Radio + Checkbox Group buttons"
# Feature request

![Screenshot 2021-01-06 at 18 08 18](https://user-images.githubusercontent.com/8291514/103756374-3ca23f00-504a-11eb-800a-93cf12f8ccab.png)

![Screenshot 2021-01-06 at 18 07 50](https://user-images.githubusercontent.com/8291514/103756284-1c728000-504a-11eb-817f-4c6d8ffbe5ee.png)

[2021-01-06 10:10] MildTomato opened #25 "Chore: Amend Icons to align better"
# Chore

`<Icon>` used inside  `<Button>` `icon` inline prop, are sometimes not aligned as the SVGs don't take up the entire artboard.

[2021-01-06 10:12] MildTomato opened #26 "Feature: iconRight option for <Button>"
# Feature request

add inline prop for <Button> component that allows for an icon on the right hand side of label

[2021-01-06 18:32] joshenlim opened #27 "Unable to target checkbox label with classNames prop"
# Bug report

I'm trying to implement the Checkbox component but realised that the labels have font weight 500 by default. I tried to pass classNames to the checkbox component but it does not target the `<span>` tag in the label - I'm wondering if that might be possible?

e.g `<Checkbox className="font-normal text-gray-500"` />

![image](https://user-images.githubusercontent.com/19742402/103806808

[2021-01-06 18:33] joshenlim commented on #27
Also for dark mode, i noticed that the checkbox has a flicker of an outline / border when you click it

[2021-01-06 18:43] joshenlim commented on #27
Also - does the checkbox have a prop to mark it as checked?

e.g `<Checkbox checked={true} />`

[2021-01-06 18:46] joshenlim opened #28 "Checkbox unable to mark as checked via a prop"
# Bug report

I noticed that the Checkbox has no prop to mark it as checked or not:

![image](https://user-images.githubusercontent.com/19742402/103808139-74cd7000-5092-11eb-956f-f636374aa105.png)

We'll need to add a prop to mark the checkbox as checked, such as in the context of persistent data

e.g `<Checkbox checked={true} />`

[2021-01-07 02:41] phamhieu opened #29 "Button indicator for size tiny, small looks bigger than text"
# Bug report

## Describe the bug

https://user-images.githubusercontent.com/689843/103844379-baab2800-50d4-11eb-992d-3fe649c7c8c3.mp4

[2021-01-07 02:42] phamhieu opened #30 "Transition class warning error on console"
# Bug report

## Describe the bug

When using `supabase/ui` Button on a page. console will print warning error on page load.

[code]

<img width="825" alt="Screenshot 2021-01-07 at 10 38 51 AM" src="https://user-images.githubusercontent.com/689843/103844457-e9c19980-50d4-11eb-8098-f0ec888434c2.png">

[2021-01-07 02:47] phamhieu opened #31 "Button throw error when loading state changes"
# Bug report

## Describe the bug

<img width="844" alt="Screenshot 2021-01-07 at 10 47 13 AM" src="https://user-images.githubusercontent.com/689843/103844823-bcc1b680-50d5-11eb-8570-847d6dbd1be2.png">

## To Reproduce

- click button
- loading indicator show
- after button processing complete, set loading state to false
- it throws error

related to https://github.com/supabase/ui/issues/30

[2021-01-07 08:25] #26 closed

[2021-01-07 08:25] #29 closed

[2021-01-07 08:25] #30 closed

[2021-01-07 08:25] #31 closed

[2021-01-07 09:22] MildTomato commented on #12
Closing this because (i think...) it's fixed. Just reopen it if it persists.

[2021-01-07 09:22] #12 closed

[2021-01-07 09:23] MildTomato commented on #13
Seems to be fine now - releasing often and publishing to NPM.
Closing issue.

[2021-01-07 10:01] MildTomato commented on #28
should work now

you also don't need to add so much if you don't want.
`value` and `id` come from `label` if they don't exist.

[code]

[2021-01-07 10:01] #28 closed

[2021-01-07 10:06] MildTomato opened #34 "checkbox has a flicker of an outline / border when you click it if the cursor is not yet focusing on the checkbox option"
Also for dark mode, i noticed that the checkbox has a flicker of an outline / border when you click it if the cursor is not yet focusing on the checkbox option

https://user-images.githubusercontent.com/19742402/103807047-d2f95380-5090-11eb-82be-1b81731021cb.mov

_Originally posted by @joshenlim in https://github.com/supabase/ui/issues/27#issuecomment-755487107_

[2021-01-07 10:06] MildTomato commented on #27
@joshenlim made new issue for flicker

[2021-01-07 10:42] phamhieu opened #35 "Button type link doesn't apply style color"
# Bug report

## Describe the bug

[code]

color doesn't apply to button text. It always has default white color.

[2021-01-07 11:18] phamhieu opened #36 "Button to support Ref forwarding"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently Button component doesn't support `ref` prop.

https://reactjs.org/docs/forwarding-refs.html

[code]

[2021-01-07 11:25] MildTomato commented on #35
it looks like tailwind utilities in /app is overriding  the `<span>` inside `<Button>`

will have a look at workarounds

[2021-01-07 11:47] MildTomato commented on #36
@phamhieu is this only used by a Tooltip?

[2021-01-07 12:10] MildTomato commented on #27
I'm not sure about this, hard to really say if the style and classnames should be applied to the Label or the Checkbox its self.

I'll change the font-family and font-weight to be inherit though, but you may also end of overriding the style of the 'description' as well.

[2021-01-07 12:23] MildTomato commented on #35
![Screenshot 2021-01-07 at 20 15 05](https://user-images.githubusercontent.com/8291514/103891598-16050680-5125-11eb-8333-b91cf2d9f6d4.png)

need to change this from `font-color` to `color` in `/app`

we should probably keep this stuff in style.scss for now,  but we can move the reset/modern-normalize type of css to `ui` later.

[2021-01-07 12:24] #35 closed

[2021-01-07 12:24] MildTomato commented on #35
fixed in `/app` repo

[2021-01-07 12:33] MildTomato commented on #36
I'll add it in anyway 😌

[2021-01-07 14:35] joshenlim opened #37 "Checkbox checked prop does not persist if conditional is given"
# Bug report

I'm currently passing a conditional to the `checked` prop for the Checkbox component as such for example

`<Checkbox checked={a.length === b.length}`

`a` and `b` have different lengths at the beginning, but when `a` does have the same length as `b`, this error shows up

![image](https://user-images.githubusercontent.com/19742402/103904634-7c475480-5138-11eb-9a8f-91a6828f309c.png)

I

[2021-01-07 14:48] joshenlim commented on #37
Oh a way to repro is just `<Checkbox checked={false} />` it'll not be checked, but if you click the checkbox, it can get checked

[2021-01-07 17:05] joshenlim opened #38 "Input component has an extra grid space y"
# Bug report

I noticed that the Input component has an extra padding on top probably due to CSS grid

![image](https://user-images.githubusercontent.com/19742402/103921489-8aec3680-514d-11eb-9b4f-137e2aab8963.png)

[2021-01-07 18:15] joshenlim opened #39 "Unable to import the Badge component"
# Bug report

When trying to use the Badge component, i run into this error

![image](https://user-images.githubusercontent.com/19742402/103928893-6ac17500-5157-11eb-87f9-64a741e2a06a.png)

[2021-01-08 02:43] #39 closed

[2021-01-08 02:44] MildTomato commented on #14
right icon support has been added in a previous release now 👍 @kiwicopple

[2021-01-08 02:45] kiwicopple commented on #39
:tada: This issue has been resolved in version 0.1.11 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.1.11)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.1.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-08 03:05] MildTomato commented on #38
issue was a <div> tag was left in event though it had no content.
publishing fix

[2021-01-08 03:40] MildTomato commented on #36
just noting this here in case we encounter any problems - react docs make a point about using forwarding refs in component libraries.
https://reactjs.org/docs/forwarding-refs.html#note-for-component-library-maintainers

[2021-01-08 05:00] #38 closed

[2021-01-08 05:03] kiwicopple commented on #38
:tada: This issue has been resolved in version 0.1.12 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.1.12)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.1.12)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-08 06:16] joshenlim opened #42 "Error is thrown for Icon component if provided type prop does not match any from feathericons"
# Bug report

The following error gets thrown when I do something like `<Icon type="something" />`

![image](https://user-images.githubusercontent.com/19742402/103981099-156b7f00-51bc-11eb-98fc-e93ac3969d0e.png)

Perhaps it should just not show anything? or return an error message that the type does not exist

[2021-01-08 06:45] phamhieu commented on #36
The code is missing `React.forwardRef`

<img width="592" alt="Screenshot 2021-01-08 at 2 44 26 PM" src="https://user-images.githubusercontent.com/689843/103983329-04bd0800-51c0-11eb-98b9-cb4618344a91.png">

[2021-01-08 07:23] MildTomato commented on #36
ahh sorry! i'll change it :)

[2021-01-08 08:57] MildTomato commented on #36
Having trouble fixing this.

made an attempt on branch `fix/button-ref-fix`

[2021-01-08 09:02] MildTomato commented on #42
Will make it default to a random icon if string isn't recognised

[2021-01-08 09:07] #42 closed

[2021-01-08 09:09] kiwicopple commented on #42
:tada: This issue has been resolved in version 0.1.13 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.1.13)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.1.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-08 10:29] #37 closed

[2021-01-08 10:31] kiwicopple commented on #37
:tada: This issue has been resolved in version 0.1.15 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.1.15)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.1.15)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-08 10:31] MildTomato commented on #27
@joshenlim try this out on new version. should work.

[2021-01-08 11:06] kiwicopple commented on #14
legend, thanks Jonny!

That's pretty annoying. Can we set the icon somehow to always be square, then center the icon within the space? That would create even margins on both sides right?

<img width="342" alt="image" src="https://user-images.githubusercontent.com/10214025/104008637-a5bdba00-51e4-11eb-84a3-e8ae1fb9cbd9.png">

[2021-01-08 11:12] MildTomato commented on #14
oh yea, i was going to do that 🚀  great minds..

[2021-01-09 17:54] joshenlim opened #45 "Toggle component has excess spacing"
# Bug report

Similar to the previous Button component issue, Toggle has excess spacing from probably from a `gap-x-{n}` class

![image](https://user-images.githubusercontent.com/19742402/104105083-c4a47500-52e6-11eb-8f36-14a406ba6a66.png)

[2021-01-09 17:57] joshenlim opened #46 "Toggle onChange prop does not trigger when clicked"
# Bug report

The onChange prop of the toggle component does not trigger when the toggle is clicked

Able to do it hackily for now via this haha:

[code]

also (@MildTomato)

disabled prop seems to not be working

[2021-01-09 18:18] joshenlim commented on #46
Also wondering what does the disabled prop do? setting it true doesnt seem to have any difference - expected a cursor-not-allowed and no focus styling

[2021-01-10 03:40] phamhieu opened #48 "Icon supports src file path"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently `Icon` component only supports feather icon pack using `type` prop.

[code]

Can we support `src` file path to svg file?

[2021-01-10 10:27] phamhieu commented on #13
It seems that i screw up auto release with my commits. Hope it's not.

@MildTomato  let me know if it is still working when you commit new code.

[2021-01-11 02:52] MildTomato commented on #13
@phamhieu have you got any tags on this repo locally?
we had a v1.0.0 tag mistakenly added a while ago

[2021-01-11 02:58] MildTomato commented on #13
@phamhieu its been working for me.
your [forwardRef](https://github.com/supabase/ui/pull/47) merged and released fine on v0.1.16 ?

[2021-01-11 03:00] phamhieu opened #49 "Icon supports fill color"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently Icon color prop is used only for icon border. I need Icon to support for fill color

<img width="53" alt="Screenshot 2021-01-11 at 10 59 19 AM" src="https://user-images.githubusercontent.com/689843/104143844-14c12b80-53fc-11eb-8924-5fb50e57cccd.png">

## Describe the solution you'd like

<img width="46"

[2021-01-11 03:01] phamhieu commented on #13
<img width="403" alt="Screenshot 2021-01-11 at 11 00 34 AM" src="https://user-images.githubusercontent.com/689843/104143891-3e7a5280-53fc-11eb-9735-5a79ca7e6472.png">

yesterday i removed v1.0.0 tag already. But i'm not sure if i screw up anything.

[2021-01-11 03:04] MildTomato commented on #45
@joshenlim can you paste in Toggle code your using in here?

and are you using latest version of `@supabase/ui`?

[2021-01-11 03:07] MildTomato commented on #13
that looks right to me 👍

your merge yesterday looks like it auto released fine - or have i misunderstood something?

[2021-01-11 07:19] phamhieu commented on #13
<img width="876" alt="Screenshot 2021-01-11 at 3 17 39 PM" src="https://user-images.githubusercontent.com/689843/104154577-392eff00-5420-11eb-84f7-c308c11af4e7.png">

i push a new commit and it doesn't create a new release 🤦

[2021-01-11 07:30] soedirgo commented on #13
😂 I feel ya. `chore:` commits don't trigger a version update.

[Here's](https://www.notion.so/supabase/Releases-branching-and-commits-03233c1dbdc3443390d0f431f282be3f) a cheatsheet for semantic-release if it helps (skip the Branching section). This docs probably could do with more visibility though...

[2021-01-11 08:51] MildTomato commented on #13
@soedirgo awesome!

I didn't even realise `chore:` doesn't trigger a release 😂

sorry for the confusion @phamhieu

[2021-01-11 08:51] #13 closed

[2021-01-11 09:09] #49 closed

[2021-01-11 09:11] kiwicopple commented on #49
:tada: This issue has been resolved in version 0.1.18 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.1.18)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.1.18)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-11 09:27] MildTomato commented on #45
I can't recreate this, I think it was fixed in a previous release, -> #40

@joshenlim just reopen it if the problem persists on latest version of lib

[2021-01-11 09:28] #27 closed

[2021-01-11 09:29] #46 closed

[2021-01-11 09:31] kiwicopple commented on #46
:tada: This issue has been resolved in version 0.1.19 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.1.19)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.1.19)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-11 13:38] joshenlim commented on #45
oh sorry for getting back late! I'm using the Toggle as such without any labels, still has the excess spacing - I'm thinking its cause i'm not giving the toggles any labels?
![image](https://user-images.githubusercontent.com/19742402/104189160-43b7bb80-5455-11eb-843e-1e9705e792c5.png)

[2021-01-11 13:50] MildTomato commented on #45
@joshenlim what version you using?

[2021-01-11 13:51] joshenlim commented on #45
this is 0.1.19

[2021-01-11 13:55] MildTomato commented on #45
thanks ill look into it 👍

[2021-01-12 02:58] MildTomato opened #52 "Bug: wrong css selectors being used"
# Bug report

## Describe the bug

Checkbox uses `[type='checkbox']` css selector, which is causing issues if there are other checkboxes on the page.
need to be .sbui-checkbox[type='checkbox']

[2021-01-12 06:00] kiwicopple commented on #11
Hey @MildTomato - can I check on this one? Does Thor's PR work? I'd love to use it for the Vercel application - https://github.com/supabase/next-server-components/issues/1

[2021-01-12 06:05] MildTomato commented on #11
yea course!

I was going to style it up a bit more before merging but.. lets just merge it :D

[2021-01-12 06:06] MildTomato commented on #11
@kiwicopple i haven't actually tried to use it yet - was going to check this afternoon.

[2021-01-12 07:27] MildTomato commented on #45
@joshenlim i still can't recreate this anywhere.

maybe best i jump in your project and see what's going on.
got a link to branch/repo ?

[2021-01-12 07:28] #52 closed

[2021-01-12 07:28] MildTomato commented on #36
@phamhieu is this working ok ? 😄

[2021-01-12 07:29] kiwicopple commented on #52
:tada: This issue has been resolved in version 0.1.20 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.1.20)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.1.20)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-12 07:31] joshenlim commented on #45
Oh yeah sure thing!

https://github.com/supabase/repository.surf/tree/feature/login

[2021-01-12 07:34] MildTomato commented on #48
@phamhieu for this, would it be best to have something like the following

[code]

[2021-01-12 07:56] phamhieu commented on #36
yes, it works now

[2021-01-12 07:56] #36 closed

[2021-01-12 07:59] phamhieu commented on #48
Yes, that will be great

[2021-01-12 08:16] MildTomato opened #56 "Chore: improve styling of Auth social error messages"
<img width="603" alt="Screenshot 2021-01-12 at 16 15 40" src="https://user-images.githubusercontent.com/8291514/104287511-87600300-54f1-11eb-925f-9386b747173e.png">

[2021-01-12 08:42] #11 closed

[2021-01-12 08:45] kiwicopple commented on #11
:tada: This issue has been resolved in version 0.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.2.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-13 00:43] MildTomato opened #58 "bug: unique key prop needed in Typography"
# Bug report

![image](https://user-images.githubusercontent.com/8291514/104391658-55937e80-557b-11eb-99ff-01d32d5d61dc.png)

https://github.com/supabase/ui/blob/master/src/components/Typography/Text.tsx#L61-L74

[2021-01-13 04:38] kiwicopple opened #59 "Button text still hard to read"
# Chore

## Describe the chore

<img width="182" alt="image" src="https://user-images.githubusercontent.com/10214025/104407094-d2365500-559b-11eb-925c-dbd029c6d100.png">

It's still a bit hard to read the text on the green button. It looks like there is a shadow there, but perhaps it's an inner text shadow? I think a better strategy is to take the button color, then `darken()` it 40% or so, and ma

[2021-01-13 04:43] MildTomato commented on #59
it was 2 shades darker originally (@phamhieu originally pointed this out 👍 ) - I would prefer a darker bg color than using a drop shadow if that's all ok with everyone

[2021-01-13 04:45] kiwicopple opened #60 "Button sizes seem quite big"
# Chore

## Describe the chore

<img width="1177" alt="image" src="https://user-images.githubusercontent.com/10214025/104407618-fe9ea100-559c-11eb-987f-664b89aaaf98.png">

the red button is the default size, save/cancel is "tiny". It seems that the default button is quite large right? I think we are going to end up with a lot of "tiny" buttons on our dashboard

[2021-01-13 04:55] kiwicopple commented on #60
For reference:

<img width="838" alt="image" src="https://user-images.githubusercontent.com/10214025/104408237-9650bf00-559e-11eb-9ecd-5578c8eaff7e.png">

[2021-01-13 04:58] kiwicopple commented on #59
do you mean the green?

[2021-01-13 04:59] MildTomato commented on #59
Ah sorry, i mis read the above.

The inner shadow was a personal choice - just a personal preference. It will probably look great with a darker background.

If you folks prefer a drop shadow instead though I can change it though 😄

[2021-01-13 04:59] MildTomato commented on #59
yep

[2021-01-13 05:05] kiwicopple commented on #59
I just think it's more legible if it's a text-shadow, especially on the small buttons. so not really a preference as much as a practicality - as far as I can tell:

- inner shadows "eat into" the text, blurring the text edges)
- drop shadows define the text edges, making them look sharper

[2021-01-13 05:08] MildTomato commented on #60
We probably should use 'small' or 'tiny' as default - just so we don't have to keep adding a size prop, and stop large buttons creeping in.

cc @phamhieu let us know if you've got any problems with this

[2021-01-13 05:28] MildTomato commented on #59
@kiwicopple added drop shadow and using original button bg color

![Screenshot 2021-01-13 at 13 27 42](https://user-images.githubusercontent.com/8291514/104410382-2a248a00-55a3-11eb-8cee-28c79c2c9426.png)

[2021-01-13 06:05] MildTomato commented on #45
![Screenshot 2021-01-13 at 14 05 03](https://user-images.githubusercontent.com/8291514/104412959-5e4e7980-55a8-11eb-8dc0-d040a587eaba.png)

I can't recreate this. are you sure?

[2021-01-13 06:14] kiwicopple commented on #59
I added a comment to the PR - I think the main issue is that the drop shadow is black, which means it has to be very light so that it doesn't conflict with the button color. If we can somehow use a darker version of the button that would be awesome (once again something I figured out from the old stripe site). Then it doesn't actually matter how light the button is, because the shadow gives it the

[2021-01-13 06:33] MildTomato commented on #59
@kiwicopple added text shadows using text color - once we have color theme variables we can use those easily to control the drop shadow as well

![Screenshot 2021-01-13 at 14 32 27](https://user-images.githubusercontent.com/8291514/104415044-38c36f00-55ac-11eb-83fe-4e09ad923b23.png)

[2021-01-13 07:00] kiwicopple commented on #59
yaaass, that is defo more readable. Nice one @MildTomato

[2021-01-13 07:14] MildTomato commented on #60
using `tiny` as default. releasing.

[2021-01-13 07:17] #59 closed

[2021-01-13 07:17] #60 closed

[2021-01-13 07:19] kiwicopple commented on #59
:tada: This issue has been resolved in version 0.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.3.1)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-13 07:19] kiwicopple commented on #60
:tada: This issue has been resolved in version 0.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.3.1)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-13 10:54] MildTomato opened #64 "[CSS] add animation / transition CSS optional import"
# Bug report

## Describe the bug

`<Transition>` is missing the CSS it requires to animate correctly.

also possibly a problem with delay and duration of animations.

[2021-01-13 11:31] #1 closed

[2021-01-14 02:40] MildTomato commented on #56
I'm closing this - it's not really important

[2021-01-14 02:40] #56 closed

[2021-01-14 02:45] MildTomato commented on #45
thanks @joshenlim for helping before.

the spacing on the right due the layout of the toggle, its always left aligned with text/labels.
this will show the label/text aligned on one side, while the toggle is aligned on the opposite side - which is what it should of been anyway 🙈

I'll also leave support for the horizontal layout as well on top of that, incase we wanted it to sit <Toggle> inside a h

[2021-01-14 02:46] MildTomato opened #66 "Chore: Vertical layout <Toggle> to support right and left aligned labels"
thanks @joshenlim for helping before thanks @joshenlim for helping before.

the spacing on the right due the layout of the toggle, its always left aligned with text/labels.
this will show the label/text aligned on one side, while the toggle is aligned on the opposite side - which is what it should of been anyway 🙈

I'll also leave support for the horizontal layout as well on top of that, incase we

[2021-01-14 06:23] #45 closed

[2021-01-14 06:24] #66 closed

[2021-01-14 06:25] kiwicopple commented on #45
:tada: This issue has been resolved in version 0.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.4.1)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-15 06:21] #58 closed

[2021-01-15 06:23] kiwicopple commented on #58
:tada: This issue has been resolved in version 0.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.6.1)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-15 06:24] MildTomato commented on #64
we may need to have an option to import css for transitions if anyone is using this lib without tailwind installed.
This would be useful for Supabase example projects which should probably avoid having tailwind installed.

we could supply the css in an optional import - which would be similar to importing a theme.css when we supporting custom themes/variables.

[2021-01-15 07:39] thorwebdev opened #72 "[Auth] Persist email and password state across sign in and sign up"
# Feature request

## Is your feature request related to a problem? Please describe.

When someone types in email and password in the sign in screen but doesn't have an account and then clicks on sign up, the email and password input fields are cleared and they have to retype it.

## Describe the solution you'd like

Persist email and password states between sign in and sign up views

[2021-01-15 07:41] thorwebdev opened #73 "[Auth] Add message for sign up email confirmation"
# Feature request

Currently the auth component does not give a message when signing up when confirmation email is enabled.

We should add "Check your email for the confirmation link." as a message

[2021-01-17 14:48] joshenlim opened #75 "Label on Input component is set to uppercase"
# Bug report

Version: 0.6.1

I noticed that the labels provided by prop to the Input component is always set as `uppercase` - wondering if this was intentional and if so, is there a way for me to pass a className to change it to lowercase?

Context is I'm starting to try using the form components row the editor side panels, starting with the row editor as such

![image](https://user-images.github

[2021-01-17 14:50] joshenlim commented on #75
Or if this is too niche, alternatively i could also inject my own CSS to override these styles

[2021-01-17 15:15] joshenlim opened #76 "Select component has overlapping icons on the far right"
# Bug report

Version: 0.6.1

There seems to be 2 icons overlapping - one in a `<span>` while the other as a background-image for the Select component

![image](https://user-images.githubusercontent.com/19742402/104847233-c8a14a00-5919-11eb-80a8-6e1a6a9b13f2.png)

[2021-01-17 15:42] joshenlim commented on #75
oh oh oh so sorry just realised this is coming from a global stylesheet in `app` 🤦

[2021-01-17 15:42] #75 closed

[2021-01-17 15:44] joshenlim commented on #76
Did a bit of digging - this is cause I'm using the `select` wrapped within a `form` element, and tailwindcss has its own innate class style to give that down chevron for all select fields

[2021-01-17 16:38] joshenlim opened #77 "Input component to support autofocus prop"
# Feature request

Wondering if we could add the support for autofocus for the input component

[2021-01-18 03:37] MildTomato commented on #76
@joshenlim i'll take a look 👍

[2021-01-18 03:44] MildTomato commented on #77
@joshenlim yes! absolutely, we should support this.

notes for task -
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#htmlattrdefautofocus
https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/autofocus

just noting here as well, we should probably use markup such as `<dialog>`on modals and side panels to help trigger autofocus in forms when they are displayed.

[2021-01-18 05:56] MildTomato opened #79 "Feat: add a close (X) button to <Modal>"
also have an option to hide the default close (x)

[2021-01-18 06:58] #76 closed

[2021-01-18 06:58] MildTomato commented on #76
fixed in next release.

[2021-01-18 07:14] kiwicopple commented on #79
:tada: This issue has been resolved in version 0.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.7.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-18 08:38] kiwicopple opened #82 "Sign up not centered on Auth widget"
# Bug report

## Describe the bug

![image](https://user-images.githubusercontent.com/10214025/104891098-714bba00-59ab-11eb-9071-6b60d503978d.png)

Looks like the text "Sign up" isn't perfectly centered. I think it's pushed right by the loader?

[2021-01-18 10:07] #79 closed

[2021-01-18 10:07] #77 closed

[2021-01-18 11:22] #82 closed

[2021-01-18 15:41] MildTomato commented on #23
first iteration done.

will make a new issue for 'card' tabs, like we have in the supabase dashboard

[2021-01-18 15:41] #23 closed

[2021-01-18 16:11] MildTomato commented on #48
@phamhieu this is in the new release 👍

you can still use the other props, like: size, stroke, fill to control how the icon looks.
stroke width will not work though

[code]

[2021-01-18 16:11] #48 closed

[2021-01-18 16:14] kiwicopple commented on #48
:tada: This issue has been resolved in version 0.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.8.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-18 16:14] kiwicopple commented on #82
:tada: This issue has been resolved in version 0.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.8.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-19 03:31] MildTomato opened #89 "Chore: support for Horizontal forms with smaller cols"
![Screenshot 2021-01-19 at 11 29 52](https://user-images.githubusercontent.com/8291514/104984490-bf16ff80-5a49-11eb-9f31-f510c3302fcb.png)

with supabase horizontal layouts..
![Screenshot 2021-01-19 at 11 30 52](https://user-images.githubusercontent.com/8291514/104984525-cf2edf00-5a49-11eb-9d74-979fb0946e24.png)

[2021-01-19 17:13] joshenlim opened #90 "Disabled Toggle buttons are still able to be triggered"
# Bug report

If a toggle is disabled, clicking it should not trigger the provided `onClick` function prop

`<Toggle disabled onClick={() => console.log('hello')} />`

[2021-01-20 14:57] MildTomato opened #91 "feat: support for justify-content: space-between in Button"
![Screenshot 2021-01-20 at 22 47 06](https://user-images.githubusercontent.com/8291514/105192191-d1408d00-5b72-11eb-8b87-23e1d45a6d87.png)

[2021-01-21 02:07] kiwicopple opened #92 "Feat: Toast"
# Feature request

## Is your feature request related to a problem? Please describe.

It would be awesome to improve our current toasts.

## Describe the solution you'd like

Ideally one where we can present details errors to the user.

## Describe alternatives you've considered

This is nice: https://react-hot-toast.com/

## Additional context

https://twitter.com/notlilj/status/13520698218196254

[2021-01-22 06:40] MildTomato commented on #91
not required.

if anyone likes different layouts feel free to reopen this issue with some comments

[2021-01-22 10:18] MildTomato opened #94 "Feat: Support for Copy in Input"
Possibly also add support in Typography components.

We can add this in as a boolean optional prop

super fast mockup:
![Screenshot 2021-01-25 at 17 09 04](https://user-images.githubusercontent.com/8291514/105684595-23e1c680-5f30-11eb-87fa-c120730f83f4.png)

[2021-01-22 10:19] MildTomato opened #95 "Feat: <Form> Component"
to do: write up proposal here

example of validation use case
[code]

[2021-01-23 01:56] kiwicopple commented on #94
It could be good to have support for a generic button (not just copy), so that we can do things like "reveal" etc

[2021-01-23 03:38] MildTomato opened #96 "Feat: Reveal and Copy in Inputs"
# Feature request

## Is your feature request related to a problem? Please describe.

On a projects Settings -> API view, it's pretty easy to accidentally copy the "service_role" API key instead of the "public" one despite the "secret" label.

## Describe the solution you'd like

• It'd be great if the "service_role" API key were obscurbed with "***" be default. Then, add a "Reveal" button to allo

[2021-01-23 06:34] MildTomato opened #97 "Feat: Sidebar nav"
Main Sidebar and also secondary menu bar.

also mentioned in https://github.com/supabase/supabase/issues/582

[2021-01-23 13:34] mrkldshv commented on #90
Hey @joshenlim! I'm willing to help with this one, however I wasn't able to reproduce it. Any tips here?

[2021-01-23 14:45] mrkldshv commented on #96
Hey @MildTomato!

I'd like to help with this one! Also I'd like to hear your thoughts or suggestion on this:
* should we extend currently implemented input and just make this button as optional prop?
* I imagine placing this button on right side of the input. What do you think?
* Probably we should also allow putting some text within this button?

[2021-01-23 15:08] joshenlim commented on #90
oh hey @mrkldshv! i just checked it again - i think it might have been fixed in a recent release. Thanks so much though - real appreciate :) will be closing this

[2021-01-23 15:08] #90 closed

[2021-01-25 03:48] MildTomato commented on #96
Hey @mrkldshv - sounds great! here's some of my thoughts and suggestions..

yep, that sounds good to me. I was originally thinking we just have this optional prop a callback, but then we would need another prop to determine what the label of the button should be.

It might be better to have the prop just allow for any react.node, and anyone could just insert what they like (most likely a <Button>

[2021-01-25 09:09] MildTomato commented on #94
Opened that up in another issue #96

[2021-01-25 09:25] calendee opened #99 "Hide Service Role API key and have reveal button"
# Feature request

## Is your feature request related to a problem? Please describe.

On a projects Settings -> API view, it's pretty easy to accidentally copy the "service_role" API key instead of the "public" one despite the "secret" label.

## Describe the solution you'd like

It'd be great if the "service_role" API key were obscurbed with "***" be default. Then, add a "Reveal" button to allow

[2021-01-25 09:34] MildTomato commented on #99
Hi @calendee - thanks for the suggestion! I think this would be a great addition 🙌

this is somewhat of a duplicate of #96, which covers copy and reveal actions, so I'm going to close this one in favour of continuing the thread over there.

[2021-01-25 09:34] #99 closed

[2021-01-25 09:35] MildTomato commented on #96
just for future reference - also mentioned in #99 about reveal functionality

[2021-01-25 09:42] MildTomato commented on #94
Closing this as it's now a duplicate of #96

[2021-01-25 09:42] #94 closed

[2021-01-25 10:41] MildTomato commented on #96
@mrkldshv [I tried it out](https://github.com/supabase/ui/pull/100) with optional props for both copy and reveal 😄

[2021-01-25 10:50] mrkldshv commented on #96
@MildTomato cool, looking nice 👍 I like the ideas, you mentioned above. By the way, do you think it might be better to make these props more generic? I mean to allow user put any button or label on the left/right side of the input.

[2021-01-25 11:36] MildTomato opened #101 "Feat: Side panel"
For the form actions - I think the side over (side panel..?) component should have the actions at the bottom.
we could add these actually into the side over panel itself, just like the Modal.
We can open an issue to make this component in ui lib.

see tailwind ui example for actions at the bottom -

<img width="728" alt="Screenshot 2021-01-23 at 16 29 55" src="https://user-images.githubusercontent

[2021-01-25 11:49] MildTomato commented on #96
@mrkldshv I think you're right - I think it might be better to just have a ReactNode based prop, so anyone can just put in whatever they like, and then they're not stuck with the default button styling etc.

And then the Input component isn't stuffed with code that might never get used.

[2021-01-25 12:26] #96 closed

[2021-01-25 12:29] kiwicopple commented on #96
:tada: This issue has been resolved in version 0.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.9.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-25 12:53] mrkldshv commented on #96
@MildTomato awesome, I see it's released now 🚀 We can think of adding option to have it on the right hand side as well in one of the future MRs.

[2021-01-25 13:02] MildTomato commented on #96
@mrkldshv absolutely 🚀  !

If you want to have a crack at it and submit a pull request that would be awesome 👍
saying that, I'll open up some more issues with Inputs, as there's quite a lot of other things I overlooked beforehand which might benefit with someone else's input (pun intended... 😬 )

Thanks for the feedback - it was super helpful

[2021-01-25 13:13] mrkldshv commented on #101
@MildTomato Tailwind example is looking great 👍 I can play around with it to make it work if that's not assigned to anyone.
I guess it should be quite generic component, but I'm wondering if we should create top and bottom parts (kinda header and footer with actions) in this component. What do you think about it?

[2021-01-25 13:29] MildTomato commented on #101
@mrkldshv it's not assigned to anyone so feel free to have a crack at it.

I've already made a bit of a start on this component, it's in `src/components/SideOver`
You can see the [demo/docs of it here](http://ui.supabase.com/?path=/story/overlays-sideover--default)

It could do with some tidying up, and also needs migrating to typescript 😄

Absolutely, I've already tried to split it up into 'heade

[2021-01-25 13:33] MildTomato commented on #101
Not sure if you've seen these - Supabase uses the side panel quite a lot in the table view in the dashboard, so we'd be quite keen to get those replaced with this new side panel if we can get it tidied up and support nesting.

![Screenshot 2021-01-25 at 21 30 49](https://user-images.githubusercontent.com/8291514/105712422-bb591080-5f54-11eb-9f34-dcee3f1168f8.png)

[2021-01-25 13:55] mrkldshv commented on #101
@MildTomato Thanks for details! I'll try to make simple side over component and then we can think of handling nesting. Sounds good to you?

[2021-01-25 13:59] MildTomato commented on #101
@mrkldshv awesome! ping me in here if you have any trouble.

[2021-01-25 23:08] mrkldshv commented on #101
@MildTomato finishing it up 🚀 Got couple questions regarding colors for light and dark variants though, and I think we can discuss it in MR. Also, the only problem I have is adding top border (any border) to footer, it just does not apply for some reason. Did you had similar issue? I've tried to reproduce it on [playground](https://play.tailwindcss.com), but wasn't able to.

[2021-01-26 01:31] MildTomato commented on #101
@mrkldshv yea i've had problems using borders,  especially tailwind classes like [`border-t`](https://tailwindcss.com/docs/border-width#class-reference), i wasn't actually able to reproduce it in tailwind playground though, it seemed like a problem with tailwind setup on this repo.

ah way round it could be (if you want to keep using tailwind classes) is to do something like this.

[code]

[2021-01-26 01:35] MildTomato commented on #101
@mrkldshv [also had problems](https://github.com/supabase/ui/issues/5#issuecomment-751933242) using tailwind divide 😒    it's probably a related problem

[2021-01-26 02:03] MildTomato opened #102 "Feat: Accordian/collapse"
options could include:

• `expandIconPosition` prop - , for left or right chevron position
• ability to show 1, or multiple items (see Vercel for singular examples)
• `bordered ` prop - to show border/background version, if false then show no background/border
•`expandIcon` prop - ReactNode prop to use your own chevron icon

example of in use:

[code]

**vercel example**
https://user-images.github

[2021-01-27 12:55] MildTomato opened #104 "Feat: Side Panel nesting"
# Feature request

## Is your feature request related to a problem? Please describe.

SidePanel component to be nestable, so that a new side panel can be opened covering the last one.

nice to have:
to continually push the sidepanels underneath the active, top side panel.

example of side panel nesting behaviour in GTM.
https://user-images.githubusercontent.com/8291514/105700872-762ce280-5f44-11eb

[2021-01-27 12:57] MildTomato commented on #101
Closing this 🚀  - thanks to @mrkldshv for this one 🔥

nesting feature moved to #104

[2021-01-27 12:57] #101 closed

[2021-01-28 09:25] MildTomato opened #105 "Bug: width of Dropdown.Item not expanding dynamically"
Dropdown should have a `min-width` rather than a fixed width.

also ability to set width of dropdown (`size` prop) could easily be added in while doing this.

![Screenshot 2021-01-28 at 17 23 52](https://user-images.githubusercontent.com/8291514/106117084-a1564280-618d-11eb-9ade-338e953d9030.png)

[2021-01-29 04:22] MildTomato commented on #104
@mrkldshv are you interested in taking this one? otherwise I'll have a crack at it this weekend / next week

[2021-01-29 17:49] mrkldshv commented on #104
hey @MildTomato, I am actually interested, but I haven't thought of the way to do it yet. Do you have any ideas?

[2021-01-29 18:21] mrkldshv opened #108 "Feat: Alert component"
# Feature request

## Is your feature request related to a problem? Please describe.

It would be great to have some sort of alert component with couple variants, like: success, error, warning, info

## Describe the solution you'd like

Example:
[Material UI](https://material-ui.com/components/alert/#alert)
![Screen Shot 2021-01-29 at 19 07 09](https://user-images.githubusercontent.com/47859603/10

[2021-02-01 03:17] MildTomato commented on #108
adding a few other examples here

![Screenshot 2021-02-01 at 11 13 51](https://user-images.githubusercontent.com/8291514/106411006-102de700-647f-11eb-86d6-001e51919b74.png)
![Screenshot 2021-02-01 at 11 17 03](https://user-images.githubusercontent.com/8291514/106410982-0c9a6000-647f-11eb-8e78-f66b42c3d15a.png)
![Screenshot 2021-02-01 at 11 17 00](https://user-images.githubusercontent.com/8291514/1

[2021-02-01 03:22] MildTomato commented on #108
@mrkldshv I think this would be a great addition!
and we can also update the Auth component to use these as well.

some sasic requirements would probably be that it works a bit like Modal, in which you have the following

`type`: "success" | "danger" | "warning" | "info"
dictates the color of the box, and the icon used.

`withIcon`: boolean
shows icon, could be off by default

`closable`: boolean

[2021-02-01 03:25] MildTomato commented on #108
I would probably also encourage that we use transparent colours on dark mode, like how Badge looks in dark mode.
(also see the last image [on the comment above](https://github.com/supabase/ui/issues/108#issuecomment-770536092))

[2021-02-01 08:12] MildTomato commented on #91
@awalias reopening

[2021-02-01 08:34] awalias commented on #91
sorry didn't see this before

when the button is part of centrally aligned content like on the dashboard, it looks like a mistake

<img width="897" alt="image" src="https://user-images.githubusercontent.com/458736/106433473-3b2e3000-64ab-11eb-8e0d-6712b45ceeeb.png">

[2021-02-01 08:49] MildTomato commented on #91
It's cool 😎 I think it would be quite useful for things like login / sign up buttons

[2021-02-02 06:20] MildTomato commented on #104
I'm not sure this is a good idea (never tried it) but we could wrap each {children} with a context.provider, and the context provider basically just tells the SlideOver child component what index it is.
In the child component just +1 on the index and again, pass it down to the next one.

Each child component could then know how much to 'offset' to the right or left depending on which index number

[2021-02-03 03:56] MildTomato opened #111 "Bug: treeshaking"
# Bug report

## Describe the bug

library is not treeshaking effectively.

all components and component css is being imported into DOM even if 1 component is used.

progress:

- [x] split components into treeshakable modules
- [x] fix css modules
- [x] fix css module names
- [x] fix css module names (in storybook)
- [x] icon import treeshaking
currently updating icon components. also dropped depe

[2021-02-04 17:21] joshenlim opened #113 "Tab component should not have outline on focused"
# Bug report

I was just browsing through the storybook and noticed that selecting tabs of the tab component will show an outline on focus as such:

![image](https://user-images.githubusercontent.com/19742402/106930354-671e0f80-6750-11eb-8182-5b3a4be3a9d4.png)

Thinking that we should probably not have any outline on focused? Not too sure which version of UI is the storybook currently on

[2021-02-05 01:55] MildTomato commented on #113
thanks! 👍

yea we need to remove the focus off the Button component, same for a few others

[2021-02-05 11:18] #111 closed

[2021-02-05 11:46] kiwicopple commented on #111
:tada: This issue has been resolved in version 0.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.12.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-07 00:48] pyk opened #118 "v0.12.0 release doesn't include "dist" folder"
# Bug report

v0.12.0 release doesn't include `dist` folder.

## Describe the bug

A clear and concise description of what the bug is.

`@supabase/ui` module cannot be resolved.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Install `npm install @supabase/ui@0.12.0`
2. Import `import { Typography } from "@supabase/ui";`
3. See error

## Expecte

[2021-02-07 11:52] MildTomato commented on #118
thanks @pyk - we're taking a look at this

—

seems like semantic release did create the folder, although the build time is *a lot* longer, so maybe something went wrong somewhere else.

![Screenshot 2021-02-07 at 19 46 39](https://user-images.githubusercontent.com/8291514/107145574-8f3e8600-697d-11eb-8c77-4efbc0ccf18e.png)

I'll try doing a patch release and see if NPM is still missing the folder

[2021-02-07 12:17] FarazPatankar commented on #118
I just tried `0.12.1` and I am still seeing the same issue. Didn't want to create a separate thread but thought I'd still mention it.

[2021-02-07 12:43] MildTomato commented on #118
👋  @FarazPatankar thanks - yea we're trying a few things out now. Seems like a bizarre issue with NPM.

[2021-02-07 12:43] MildTomato commented on #118
I'll update in here once we've got it working 👍

[2021-02-07 13:01] FarazPatankar commented on #118
Thank you, @MildTomato.

I switched to `0.11.2` just to test things out and I am seeing this with my import:
```Could not find a declaration file for module '@supabase/ui'. '/Users/farazpatankar/Desktop/dev/side-projects/botler/node_modules/@supabase/ui/dist/index.cjs.js' implicitly has an 'any' type.```

Not sure if it is related but my assumption was that this package has TS support?

[2021-02-07 14:38] #118 closed

[2021-02-07 14:45] kiwicopple commented on #118
:tada: This issue has been resolved in version 0.12.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.12.2)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-07 17:36] MildTomato opened #121 "Feat: declaration files"
Thank you, @MildTomato.

I switched to `0.11.2` just to test things out and I am seeing this with my import:
```Could not find a declaration file for module '@supabase/ui'. '/Users/farazpatankar/Desktop/dev/side-projects/botler/node_modules/@supabase/ui/dist/index.cjs.js' implicitly has an 'any' type.```

Not sure if it is related but my assumption was that this package has TS support?

_Originall

[2021-02-07 17:39] MildTomato commented on #121
@FarazPatankar moved your comment into this new issue 😄

the dist folder had no type declaration files in it.
opened a PR #120 for this - should fix these warnings I think.

[2021-02-07 17:44] MildTomato commented on #121
It should support TS, although I admit - I haven't actually been using the this UI library in a typescript project yet so I haven't really been looking at any TS issues.

[2021-02-07 18:33] #121 closed

[2021-02-07 19:41] FarazPatankar commented on #121
Thanks again, @MildTomato. Just upgraded to `0.13.0` and everything works as expected. 🚀

[2021-02-08 16:55] Etheonor opened #122 "[Auth] View parameter does not update properly"
When I use the Auth component, it seems that when I dynamicaly change the view parameter, it will not update the compontent.

`<Auth
                  supabaseClient={supabase}
                  providers={["google"]}
                  socialLayout='horizontal'
                  socialButtonSize='xlarge'
                  view={view}
                  socialColors={true}
                />`

I hav

[2021-02-09 02:48] MildTomato commented on #122
Hey @Etheonor, thanks for the bug report.

Yea, I just had a look and it looks like any change in that prop won't affect the view.
I'll take a look at this later and fix it up so you can dynamically change the view.

[2021-02-10 10:17] MildTomato commented on #5
I'm closing this, we've been using normal CSS for borders anyway.
can reopen it if it's really a problem later.

[2021-02-10 10:17] #5 closed

[2021-02-11 07:08] #122 closed

[2021-02-11 07:39] kiwicopple commented on #122
:tada: This issue has been resolved in version 0.13.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.13.1)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-11 08:03] MildTomato opened #126 "Bug: Lightmode checkbox is wrong color"
![image](https://user-images.githubusercontent.com/8291514/107613116-99fd6180-6c82-11eb-98dc-2e556300cb9a.png)
![image](https://user-images.githubusercontent.com/8291514/107613129-9e297f00-6c82-11eb-943c-9847c3ffc3d7.png)

[2021-02-14 07:35] #126 closed

[2021-02-15 17:05] joshenlim opened #128 "Checkbox component support Icons"
# Feature request

In view of the storage stuffs I'm wondering if we could have it such that passing an Icon as a prop to a Checkbox component will show the Icon in place of the checkbox, until the user hovers over the checkbox

If the checkbox is selected, icon should remain hidden

[2021-02-16 09:55] MildTomato commented on #128
I'm not sure about this.
I think it might be better to keep them separate, and just hide/show a checkbox on top of the Icon 'in app' rather than bloating the Checkbox component. Might also force

[2021-02-16 18:06] #128 closed

[2021-02-17 07:30] kiwicopple commented on #126
:tada: This issue has been resolved in version 0.13.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.13.2)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.13.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-17 18:23] joshenlim opened #131 "Inconsistent height for buttons between primary and default"
# Bug report

I'm wondering if this was intentional - primary type buttons are just slightly larger than default buttons (by 2px)

![image](https://user-images.githubusercontent.com/19742402/108249631-401ffe80-7190-11eb-954f-9decea349e77.png)

[2021-02-17 18:24] MildTomato commented on #131
It's probably because 'default' doesn't have a border on it 🤔

[2021-02-18 15:34] joshenlim commented on #131
ahhhh okay gotcha haha sorry, will close this issue

[2021-02-19 02:13] MildTomato commented on #131
Ah sorry, we can still fix it @joshenlim
They should all be consistent 😃 great spot !

[2021-02-23 17:52] joshenlim opened #133 "Dropdown have automatic placement depending on its position relative to the view port"
# Feature request

If for example, the dropdown placement has been set to bottom, but it'll peak out of the bottom edge of its parent as such:
![image](https://user-images.githubusercontent.com/19742402/108885505-dcd81580-7642-11eb-8028-4ac041f2214b.png)

Thinking if we could have a flag to automatically flip the dropdown accordingly, in this case it's placement will be flipped to top instead

[2021-02-24 03:39] MildTomato commented on #113
I'm going to remove the :focus styles on Button for now.

If anyone is looking for `:focus` styles for accessibility for this lib it might be best to open a new issue under a feature request.

[2021-02-24 03:49] #131 closed

[2021-02-24 03:50] MildTomato commented on #89
closing this as we've updated it with #134

[2021-02-24 03:50] #89 closed

[2021-02-24 03:51] MildTomato commented on #14
closing this as outstanding remarks are in other issues
icon alignment - #25

[2021-02-24 03:51] #14 closed

[2021-02-24 04:06] kiwicopple commented on #113
:tada: This issue has been resolved in version 0.13.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.13.4)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.13.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-24 04:06] kiwicopple commented on #131
:tada: This issue has been resolved in version 0.13.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.13.4)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.13.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-24 10:42] kiwicopple opened #136 "suggestion: make inputs the same height as buttons"
# For discussion

![image](https://user-images.githubusercontent.com/10214025/108988751-c926c080-76cf-11eb-9887-65d1fad2573b.png)

At the moment the default height of the Inputs and Buttons are different.

It makes alignment tricky. Is it a good idea to make these the same height? (my preference would be to make the vertical padding on the input smaller)

[2021-02-24 10:50] MildTomato commented on #136
Maybe we introduce a size prop into Inputs, but they should match the sizes of the button sizes.

i was kind of expecting we'd need to do this anyway.

although as a quick win we can just match the input size to the default button size just to keep development moving.

[2021-02-24 12:27] kiwicopple commented on #136
both these options sound great 👍

[2021-02-26 10:37] Etheonor opened #137 "Way to have a min sized password?"
Right now with the current implementation of gotrue and with the supabase UI auth component, we can have a password of 1 character long. I think it's a big security issue and even if we can handle it on our side, it would be great if we had a basic implementation in the component.

Thanks!

[2021-02-26 11:03] menor commented on #72
I think I have this working but not sure how to make the Pull Request, should I branch out from `develop` or create a fork?
The branch should be named something as `feature/persist-form-data` and use semantic commit, right?

[2021-02-28 00:19] MildTomato commented on #72
hey @menor, thanks for taking this one 👍

yep, we use semantic release to trigger releases. so if one of your commits has `"fix: rest of commit message...` as your commit message, that would trigger a patch release. which would be perfect for this.

To create a pull request, create a fork and then you should be able to [pull request the changes from your fork](https://docs.github.com/en/github/col

[2021-02-28 00:22] MildTomato commented on #72
@menor for branch naming it probably makes more sense to have it under `chore/auth-persist-form-data` or `fix/auth-persist-form-data` since it's not really a full feature.

[2021-02-28 00:28] MildTomato commented on #137
Thanks @Etheonor, great suggestion this.

@awalias has anyone considered adding min-length to passwords in [@supabase/gotrue](https://github.com/supabase/gotrue)?
Even just something basic like 6 characters long as a bare min requirement.

We could implement some front end restrictions in the Auth component for now but maybe it should be an official requirement in the gotrue library?

[2021-02-28 00:29] MildTomato commented on #133
Looks like we'll have to fix this pretty soon 👍

[2021-02-28 09:54] menor commented on #72
Thanks, hope I did everything right, but let me know if missed something
https://github.com/supabase/ui/pull/138

[2021-03-02 14:01] #136 closed

[2021-03-04 09:16] MildTomato opened #141 "feat: add a new 'xtiny' button size"
see screenshot

[code]
![image](https://user-images.githubusercontent.com/8291514/109940715-593aba80-7d0d-11eb-852d-43897a43bb1a.png)

[2021-03-04 11:30] kiwicopple opened #142 "SidebarItem "external" not opening in new tab"
# Feature request

## Is your feature request related to a problem? Please describe.

Noticied this external flag

[code]

But it doesn't seem to open a new tab on our dashboard

![Screenshot 2021-03-04 at 7 24 44 PM](https://user-images.githubusercontent.com/10214025/109957079-6cef1c80-7d1f-11eb-82aa-c96b67ae8782.png)

![image](https://user-images.githubusercontent.com/10214025/109957504-01f21580

[2021-03-05 00:35] phamhieu opened #143 "Support onBlur event on input components"
# Feature request

## Is your feature request related to a problem? Please describe.

I need to call a method when user leaves an input field.

## Describe the solution you'd like

expose onBlur event from input components

[2021-03-05 08:13] MildTomato commented on #143
adding

[code]

[2021-03-06 00:01] #143 closed

[2021-03-07 18:01] joshenlim opened #147 "Dropdown child element to stop event propagation"
I'm currently using the Dropdown component as such:

[code]

Ideally, clicking on Button (the dropdown trigger element) shouldn't trigger the parent's onClick event (i.e. event1)

I've tried adding `onClick={(event) => event.stopPropagation})` to the Button and Dropdown component but I think it prevents the click event from triggering the dropdown to appear instead.

Although i'm also wondering if

[2021-03-08 02:03] MildTomato commented on #147
Don't really understand what you're trying to do here.

That parent <div> will probably trigger a click on the dropdown trigger, overlay and overlay contents of the dropdown.

I've started improving the docs for the UI lib, i feel they are not representing very well how a lot of things work together.

This is a better example on how to use dropdown

[code]

[2021-03-08 02:19] MildTomato commented on #142
That component isn't in this lib.
I'll take a look, it looks like that external bool should be telling a Next.Link or an a tag wether to be external or not.

[2021-03-08 04:02] MildTomato commented on #137
Closing this as issue is now handled [here](https://github.com/supabase/gotrue/issues/74)

[2021-03-08 04:02] #137 closed

[2021-03-08 04:02] joshenlim commented on #147
Ahh okay gotcha on this! Actually I may be using the component wrongly/reporting a wrong bug - will take a second look at my code sorry! Will close this issue for now

[2021-03-08 04:02] #147 closed

[2021-03-08 04:03] MildTomato commented on #108
@mrkldshv are you still interested in doing this?

[2021-03-08 16:14] #64 closed

[2021-03-08 16:22] MildTomato commented on #141
removing since using style prop seems sufficient and adding another button size in will slow down rolling out other features.
If anyone feels like this should be in the library please reopen this issue.

[2021-03-08 16:22] #141 closed

[2021-03-08 23:37] mrkldshv commented on #108
@MildTomato sorry for not being here for a while. Yeah, I am interested in this! Will submit PR soon.

[2021-03-09 04:51] #72 closed

[2021-03-09 04:54] MildTomato commented on #92
Nice to have would be have a loading / progress bar type of toast message.

Probably good to consider also just using react-hot-toast in this library and using the [custom styling option](https://react-hot-toast.com/docs/styling)

[2021-03-09 19:18] OrhanTozan opened #149 "Update to React 17.0.1"
# Chore

## Describe the chore

Including the peer dependency. Right now it restricts use with React 17

[2021-03-09 19:26] OrhanTozan commented on #149
Made a PR for it here: #150.

[2021-03-10 03:46] MildTomato commented on #149
great stuff! added comments on the PR 👍

[2021-03-10 07:34] MildTomato opened #152 "feat: InputNumber styled arrows"
# Feature request

## Is your feature request related to a problem? Please describe.

Update InputNumber to have styled increment toggles rather than using native browser controls

antdesign
![image](https://user-images.githubusercontent.com/8291514/110593000-f4241080-81b5-11eb-8c26-b14caaed190c.png)

chakra
![image](https://user-images.githubusercontent.com/8291514/110593061-0bfb9480-81b6-11eb-80

[2021-03-10 17:34] joshenlim opened #153 "Buttons in customFooter do not align in Modal when one of them is set to loading"
# Bug report

Might just need an `align-center` on the custom footer?

![image](https://user-images.githubusercontent.com/19742402/110671677-c668b700-8209-11eb-96a5-9934ee21bc48.png)

![image](https://user-images.githubusercontent.com/19742402/110671645-bcdf4f00-8209-11eb-874b-025390952892.png)

[2021-03-11 02:41] MildTomato commented on #153
that's weird.

try  out:
[code]

[2021-03-11 17:58] joshenlim commented on #153
Ahh sorry i keep forgetting to throw in code snippets for how I'm using it

![image](https://user-images.githubusercontent.com/19742402/110832475-4d836100-82d6-11eb-8f76-f78949166664.png)

This is how I was currently having the buttons in the custom footer - i think i see the problem now as well

But wrapping the buttons in `<Space>` is working perfectly! thanks so much! Will close this

[2021-03-12 02:38] #149 closed

[2021-03-12 02:53] kiwicopple commented on #149
:tada: This issue has been resolved in version 0.21.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.21.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.21.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-12 03:19] MildTomato commented on #153
@joshenlim it shouldn't of really done that anyway even outside a flexbox - we should fix it anyway.
I'll reopen this just so i don't forget about it

[2021-03-14 01:49] kiwicopple commented on #113
Hey @MildTomato, just want to check on this one

![image](https://user-images.githubusercontent.com/10214025/111054791-5e84cb80-84aa-11eb-9f5d-031ab5275d2c.png)

We're on version 0.15.0 in the dashboard, but saw this today on the Org Settings page

[2021-03-14 15:33] MildTomato commented on #113
@kiwicopple yea just update to latest version and it will be fixed.
think we're on 0.21.0 now.

[2021-03-15 01:09] kiwicopple commented on #113
Hmm I tried that.. Feel free to close again if I'm doing something wrong, but based on the [release commit](https://github.com/supabase/ui/pull/135), I think that we may need to apply focus styles:
https://tailwindcss.com/docs/preflight#buttons-have-a-default-outline

On UI version 0.21.0:

![Screenshot 2021-03-15 at 9 06 46 AM](https://user-images.githubusercontent.com/10214025/111091437-dff16200

[2021-03-15 02:03] MildTomato commented on #113
@kiwicopple i'll have a look and test on infra.
guessing preflight is overriding the UI styles 😒

[2021-03-15 02:12] MildTomato opened #154 "Chore: best practise for :focus elements"
# Feature request

## Is your feature request related to a problem? Please describe.

https://stackoverflow.com/questions/31402576/enable-focus-only-on-keyboard-use-or-tab-press

Improve all components (were applicable) to have focus styling with keyboard navigation.

[2021-03-15 02:15] MildTomato commented on #113
Yea got it, didn't realise preflight added a :focus style.
I"ll release a fix right now 👍
in v0.22.0

[2021-03-15 02:20] kiwicopple commented on #113
:tada: This issue has been resolved in version 0.21.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.21.1)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.21.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-15 02:43] kiwicopple commented on #113
thansk!

[2021-03-16 03:20] MildTomato opened #155 "Bug: no message for email confirmation sent"
# Bug report

## Describe the bug

When signing up using Supabase Auth widget, there is no message stating that an email has been sent for confirmation.

[2021-03-16 09:46] phamhieu opened #156 "Bug: style loading on production deployment"
# Bug report

## Describe the bug

When users do a prod deployment (ex: to vercel). Because of webpack splitChunks, @supabase/ui style will be loaded after the main app.
It causes a glitch on the first load.

![CleanShot 2021-03-15 at 21 22 33](https://user-images.githubusercontent.com/689843/111288584-47e39d80-867f-11eb-84ab-d01c9eff4e43.gif)

[2021-03-17 00:43] phamhieu commented on #156
We can update `rollup.config.js` to export CSS file that users can import into their apps to get those styles.

This' a breaking change for current users. But it's a straight forward solution and many libraries doing this way.

[2021-03-17 00:55] MildTomato commented on #156
@phamhieu does this mean 'all' of the CSS gets rolled into one file?

so for example, if someone just uses <Button> then all the styles for every component is still imported into their app?

[2021-03-17 01:01] phamhieu commented on #156
yes, that's right

[2021-03-17 01:18] MildTomato commented on #156
I'm not that keen on this - we put effort into splitting these up precisely so the library wouldn't import styles from components it didn't need.

This is also a SSR specific issue as well right?
Is there not any way we could use webpack in the target app to compile css of components into the SSR header ?

another solution maybe?
https://github.com/vercel/next.js/issues/13058#issuecomment-76374632

[2021-03-17 01:26] phamhieu commented on #156
css already compiled into `@supabase-ui` component library. I don't think webpack can do any other optimisation.

Like tailwind, they can do optimisation on target app because users have to import all tailwind css into the target app and then use purge to strip unused tag.

[2021-03-17 01:29] phamhieu commented on #156
<img width="229" alt="Screenshot 2021-03-17 at 9 29 01 AM" src="https://user-images.githubusercontent.com/689843/111400913-3d6ae780-8703-11eb-81da-49b62c4b2ce4.png">

like this css module, it's compiled into `js` file already.

[2021-03-17 01:30] MildTomato commented on #156
I thought all the css modules are intact when built.

![image](https://user-images.githubusercontent.com/8291514/111400914-3e9c1480-8703-11eb-8f1d-2d6591db969e.png)

open issue on css modules in npm packages
https://github.com/vercel/next.js/issues/13282

[2021-03-17 01:31] MildTomato commented on #156
I don't understand, the ui lib doesn't rely on tailwind at all now

[2021-03-17 01:34] phamhieu commented on #156
it's example how tailwind can do css purge optimisation.

[2021-03-23 05:02] #108 closed

[2021-03-23 05:09] #113 closed

[2021-03-25 18:21] florian-lefebvre opened #158 "textarea at supabase/ui"
Looking at https://ui.supabase.com/?path=/docs/data-input-input--text-area, I think that only the height should be editable and not the width. It would be also great to put a max-height and a min-height.

[2021-03-26 04:00] MildTomato commented on #158
Hey @florian-lefebvre

I believe the only way you could adjust the height (without `rows`) is:

[code]

any kind of style can be passed on here - so max-height and min-height could also just be an inline style.
I don't think it would be that useful to restrict / remove being able to implement any kind of inline css with `style`.

I'd recommend using `rows` for the height, since it uses the font li

[2021-03-26 04:11] MildTomato commented on #158
Sorry for anyone looking at our storybook website.

It makes no sense, especially for subcomponents like Input.TextArea - none of the examples seem to show correctly and there's missing API info for them.

I'm working on fixing this today :D

[2021-03-27 03:44] Nick-Mazuk opened #159 "React error for Dropdown Storybook"
# Bug report

## Describe the bug

When changing the "visibility" to "true" for the Dropdown component, you get this error:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://ui.supabase.com/?path=/story/navigation-dropdown--default
2. Change the "visibility" control to "true"

## Screenshots

<img width="1536" alt="Screen Sho

[2021-03-29 06:35] MildTomato commented on #133
https://wwayne.github.io/react-tooltip/
might be good example of doing it in this

[2021-03-29 13:41] MildTomato commented on #159
thanks @Nick-Mazuk !

[2021-03-30 03:41] MildTomato commented on #159
Additional issue with Dropdown not working in react v17.0.01 / react-dom v17.0.01

[2021-03-31 05:03] MildTomato opened #161 "Bug: label with spaces breaks htmlFor"
# Bug report

## Describe the bug

htmlFor does not work for Checkbox if there are whitespaces in the label name

the htmlFor for the input label is autogenerated is `name` is not given.

[2021-04-01 15:30] Mzaien opened #165 "Mobile navigation"
# Bug report

## Describe the bug

It is not a bug but a miss behavior, the page does not go to the top when i change route as you can

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to any component page from mobile
2. Click on drawer
3. Scroll down to any other component
4. See error

## Expected behavior

The drawer should move from the pa

[2021-04-02 07:31] angelmtztrc opened #167 "Feat: Better Options Box on Selects"
# Feature request

## Is your feature request related to a problem? Please describe.

The current "Select" component has some problems, the "box" or options container has a background white, and the text too (at least in dark mode).

## Describe the solution you'd like

Will be better if we add a "custom" box or container, something like this:

![image](https://user-images.githubusercontent.com/65

[2021-04-02 08:14] MildTomato commented on #167
Hey @angelmtztrc 👋

I don't really follow, the Select currently just uses a native Select so the options box is just provided by the browser.

What browser are you using?

On another note - we do intend to update this to be a custom 'non native' select, which could support things like inserting icons / react nodes into each Select.Option. If anybody would like to work on this that would be awesome

[2021-04-02 16:19] angelmtztrc commented on #167
I'm using Google Chrome, this is the preview of the select:
![Peek 2021-04-02 10-16](https://user-images.githubusercontent.com/65056245/113433626-d012b400-939c-11eb-9423-a2873a464dfd.gif)

[2021-04-02 16:42] MildTomato commented on #167
@angelmtztrc nice one! thanks for the gif 👍

[2021-04-03 03:45] angelmtztrc commented on #159
I have the same issue, but, I think I found the solution, can I create a pull request?

![image](https://user-images.githubusercontent.com/65056245/113466903-a12c2a80-93fc-11eb-9dae-96295fe8b9ee.png)

[2021-04-03 03:51] angelmtztrc commented on #159
I already see that you have a branch with the solution, so, that's cool!

[2021-04-03 17:06] volkandkaya commented on #167
I get that.

Also it isn't passing props down, so you can't disable it unless you use <option disabled>

[2021-04-03 17:32] harshcut commented on #152
I wanted to work on this enhancement, but storybook isn't loading any stylesheets. Could you point where I would be going wrong?

[code]

![image](https://user-images.githubusercontent.com/66206863/113486460-8f1bbc00-94d0-11eb-98d5-c107348bdb65.png)

[2021-04-05 02:35] MildTomato commented on #167
Could I get some system information of you both
@volkandkaya @angelmtztrc

- OS: [e.g. macOS, Windows] and OS version
- Browser [e.g. chrome, safari] and browser version

[2021-04-05 03:16] angelmtztrc commented on #167
I have the following:

OS: Ubuntu 20.04
Browser: Chrome 89

[2021-04-05 03:52] volkandkaya commented on #167
I have the following:

OS: Ubuntu 20.04
Browser: Chrome 88

[2021-04-05 04:36] MildTomato commented on #167
@volkandkaya @angelmtztrc thanks folks!

[2021-04-05 05:37] MildTomato commented on #152
@harshcut that looks strange. I can try and recreate it and see what the issue is.
there's some npm errors relating to postcss that might be causing this, which i'm trying to fix now.

in the meantime can you confirm the following, as it might help isolate the issue:

_what version of node are you running?_
run `node -v`

_run `npm list` and get the following:_
- Version of react
- Version of reac

[2021-04-05 05:56] harshcut commented on #152
- node@14.16.0
- react@17.0.2
- react-dom@17.0.2
- tailwindcss@npm:@tailwindcss/postcss7-compat@2.0.4
- postcss@7.0.35
- @storybook/react@6.2.1

<details>
 <summary>npm list</summary>

[code]
</details>

[2021-04-06 02:15] richardoey opened #170 "Dropdown"
# Improve documentation

## Link

https://ui.supabase.io/components/dropdown

## Describe the problem

The dropdown 'Bottom Center's menu is hidden behind the snippet code on documentation

## Describe the improvement

I am not sure what is the problem because I have seen your snippet syntax layout has z-index: 0 on it.

## Additional context

![image](https://user-images.githubusercontent.com/114

[2021-04-06 03:51] MildTomato opened #171 "Bug: overlays have wrong z-index values"
# Bug report

## Describe the bug

Overlays (dropdowns, modals, sidepanels) do not have sufficient z-index values that work well together.

The expectation should be that all the components work together well, that modals and sidepanels cover dropdowns, and dropdowns have a middle z-index value that does not overlap the outer overlays such as modals and sidepanels.

## Additional context

also see

[2021-04-06 03:54] MildTomato commented on #152
@harshcut  You might have more luck now on the `master` branch.
There did seem to be an error with PostCSS, which might have caused the issue with tailwind not generating css.

[2021-04-06 10:11] harshcut commented on #152
I tried `npm install` and it resulted in an `node-gyp` error (which hasn't happened before), so I installed it using `yarn` (using `yarn import`) but it still won't generate css.

P.S. Even after `npm install` success, storybook won't load css.

<details>
<summary>npm install (error)</summary>

[code]
</details>

<details>
<summary>how to install using yarn?</summary>

[code]
</details>

[2021-04-08 12:20] Zarasan opened #172 "Drop down menu shows behind code block"
# Bug report

## Describe the bug

Drop down menu shows behind code block.

## To Reproduce

1.https://ui.supabase.io/components/dropdown
2. Scroll to Placement
3. Click on Bottom Left / Bottom Center / Bottom Right button.

## Expected behavior

It should show drop downs in front of code block.

## Screenshots
![image](https://user-images.githubusercontent.com/43384612/114025283-40c24080-9875-11e

[2021-04-09 06:27] #159 closed

[2021-04-09 06:28] MildTomato commented on #158
I'm going to close this for now.
If the above isn't sufficient or someone has a more elegant way of dealing with this, please reopen.

[2021-04-09 06:28] #158 closed

[2021-04-09 06:31] MildTomato commented on #167
Not had time yet to look at this - if anyone would like to PR a fix for this it would be highly appreciated :D

[2021-04-09 06:34] MildTomato commented on #152
@harshcut just to make sure we've tried this.
Have you tried deleting `package-lock.json` and the ui/node-modules folder before running `npm install` ?

[2021-04-09 06:35] MildTomato commented on #171
also see https://github.com/supabase/supabase-ui-web/issues/7

[2021-04-09 06:56] YashKandalkar commented on #152
![image](https://user-images.githubusercontent.com/35102959/114141109-c48c3380-992e-11eb-91b5-cfa85cac0a2b.png)

I have the same issue, css styles aren't applied to components in storybook.
Did a fresh install.
`node -v`: v15.12.0

<details>
<summary>npm list:</summary>
<br/>

[code]
</details>

[2021-04-09 10:24] harshilparmar commented on #167
@MildTomato  I am thinking to contribute to this repo for the past week why not take this one. I would love to do this.

[2021-04-09 13:40] harshcut commented on #152
Yes @MildTomato, I removed `package-lock.json` and `node_modules` from the root directory. This time `npm install` resulted in a upstream dependency conflict (logs below). After adding `--legacy-peer-deps` it installed but didn't generate the styles.

[code]

<details>
<summary>Upstream Dependency Conflict</summary>

[code]
</details>

[2021-04-09 17:03] MildTomato commented on #152
Not sure what is causing this yet - I'm still trying to replicate the issue myself.

If anyone knows what is causing this and has a fix, a PR would be amazing.

[2021-04-09 17:04] MildTomato commented on #25
Closing this since it's mainly Feather Icons art boarding that is the cause.

[2021-04-09 17:04] #25 closed

[2021-04-09 17:05] MildTomato commented on #21
We no longer use storybook publicly now

[2021-04-09 17:05] #21 closed

[2021-04-09 17:07] MildTomato commented on #153
closing this, doesn't seem that important. your tailwind flex solution seems sufficient :D

[2021-04-09 17:07] #153 closed

[2021-04-14 09:59] dragos199993 commented on #73
Hello. Is this still required. I can take a look into this. Thanks.
What do you guys say about adding the option on what message to be displayed. In that way the user can pass the text as a translation. <Component signUpMessage="t('success.signup')' /> something like this. If that property doesn't exist, the current it uses the current behavior.

[2021-04-14 10:09] dragos199993 commented on #17
So the variables will be used like this after defined, right?
`module.exports = {
  theme: {
    extend: {
      colors: {
        primary-color: "var(--primary-color)",
        secondary-color: "var(--secondary-color)"
      },
    },
  },
};`

My question is, how can the user, after is installing @supabase/ui, customise the styling?

I guess it will work if those variables are overwritten at pro

[2021-04-15 04:33] MildTomato opened #173 "Feat: New Select component"
# Feature request

Update the Select component so it is a styled dropdown, that can contain any children for each Select.Option

A great example of this is HeadlessUI
https://headlessui.dev/react/listbox

It is entirely possible we can just use HeadlessUI's Listbox component for this, and we wrap it up, style it, and use it as our Select component. Then we can inherit all the accessibility / keybo

[2021-04-15 04:36] MildTomato commented on #167
@harshilparmar Assigned the issue to you.

Just a heads up, we are going to update the Select component to be a styled dropdown one. (If you're interested on working that as well - please do leave a comment/submit a PR).

We can move this Select component and perhaps call it something like SelectNative if we implement the new Select.

[2021-04-15 07:39] harshilparmar commented on #167
@MildTomato Is it ok to work on this issue? right!

[2021-04-15 07:42] MildTomato commented on #167
Yea go for it! 😎

[2021-04-15 12:50] vickOnRails commented on #173
Oh great.

When you say keep the existing native Select, do you mean having 2 selects,

- A Select that inherits HeadlessUI's
- One that inherits the native one, but just skins the default resting state?

[2021-04-16 00:48] MildTomato commented on #173
Yep, exactly - Although honestly I'd rather we just didn't support it - anyone watching this repo would rather there is just 1 styled Select then lets just get rid of the old native one.

Kind of related as well - we were thinking of also having stripped down versions of data inputs as well, so something like a HtmlInput, HtmlCheckbox, HtmlRadio, which would basically just be a styled input. We'd

[2021-04-16 02:20] MildTomato opened #175 "Bug: Default params not appearing in Storybook"
# Bug report

## Describe the bug

Default params are not appearing in the preview in Storybook.

![Screenshot 2021-04-16 at 10 19 30](https://user-images.githubusercontent.com/8291514/114962432-3d463f00-9e9d-11eb-9c62-fe170714eba3.png)

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to http://localhost:6006/?path=/story/overlays-modal--defau

[2021-04-16 05:55] angelmtztrc commented on #102
I was about to create an issue, but you had already anticipated me haha. Another good example of this could be the "Disclosure" component of Handless UI.

[Disclosure Component](https://headlessui.dev/react/disclosure)

![image](https://user-images.githubusercontent.com/65056245/114978073-54117500-9e4e-11eb-8a49-c1b8684b4361.png)

[2021-04-16 07:44] MildTomato commented on #102
@angelmtztrc 👍 😂

I think using either HeadlessUI or RadixUI for anything in this library is fine.

I'm just implementing the Select now with headlessui [Listbox](https://headlessui.dev/react/listbox).
It's pretty good - and having all the keyboard controls for free is awesome 💯

[2021-04-16 07:48] MildTomato commented on #173
WIP

<img width="657" alt="Screenshot 2021-04-16 at 15 47 39" src="https://user-images.githubusercontent.com/8291514/114990462-1a328400-9ecb-11eb-8528-f9b8b43d5607.png">

as a nice to have, will look into having a search version - which would use an input, and the headless UI main button will be hidden.

[2021-04-17 18:29] harshilparmar commented on #167
@MildTomato I can't replicate the same issue in my local storybook !! Can you please help??

[2021-04-19 06:10] MildTomato commented on #167
@harshilparmar I seem to be able to replicate it on BrowserStack with Chrome v88 on windows.
Seems to be a windows/ubuntu issue though only, and it doesn't affect mac versions of Chrome.

[2021-04-19 11:35] #167 closed

[2021-04-20 21:17] cmcWebCode40 commented on #175
@MildTomato i would love to work on this issues  if its has not been taken , thanks

[2021-04-20 22:32] MildTomato commented on #175
@cmcWebCode40 👍 assigned to you

[2021-04-22 03:11] kiwicopple commented on #167
:tada: This issue has been resolved in version 0.24.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.24.1)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.24.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-24 18:49] joshenlim opened #179 "Checkbox and label doesn't align vertically"
# Bug report

I noticed that the checkbox and its label doesn't align vertically? Wondering if I'm missing something - here's how I'm using it

[code]

![image](https://user-images.githubusercontent.com/19742402/115969696-cd0c7d00-a570-11eb-8657-4b1a73e29a08.png)

[2021-04-24 19:05] joshenlim commented on #179
Might be something to do with label padding

![image](https://user-images.githubusercontent.com/19742402/115970136-21186100-a573-11eb-9c60-68df5f4cf521.png)

[2021-04-26 06:51] MildTomato commented on #179
fixed in infra repo

[2021-04-26 06:51] #179 closed

[2021-05-01 17:55] flaviolivolsi opened #181 "Feat: Svelte version"
It would be amazing to have this UI library for Svelte as well. Would you consider it in the future?

[2021-05-02 13:00] MildTomato commented on #173
Possibly use <listbox> element for the options being displayed if using an Input to provide search functionality

datalist example
https://www.w3schools.com/tags/tag_datalist.asp

headlessui - swap out element
https://headlessui.dev/react/listbox#rendering-a-different-element-for-a-component

[2021-05-03 06:14] easy-street commented on #175
seems like this maybe be related to (typescript) prop type inference. afaict, props named `on<Anything>` are inferred as actions/event handlers.

changing the prop names resolves the issue ( `onCancelText` -> `cancelText` / `onConfirmText` -> `confirmText`).

so far i've only been able to find this alternate fix which feels clunky & brittle:
[code]

@MildTomato it does seem like it could be somewh

[2021-05-03 15:42] ghoshnirmalya opened #182 "Support redirectTo for the Auth component"
# Feature request
The [sign in](https://supabase.io/docs/reference/javascript/auth-signin#sign-in-with-redirect) supports **redirectTo**. However, the [Auth component](https://ui.supabase.io/components/auth) currently does not support that. It would be great if the Auth component supports that.

[2021-05-05 17:18] joshenlim opened #183 "Log statements from Modal"
# Bug report

The dashboard is using 0.24.3 at the moment, am noticing some console logs from the browser that are coming from the Modal component?

![image](https://user-images.githubusercontent.com/19742402/117182355-cf8c9380-ae08-11eb-9b94-79b112c24370.png)

Odd though - i checked the repo's code for Modal but I don't see any console log statements. Not sure if this is just me but feel free to

[2021-05-05 23:54] Nick-Mazuk opened #185 "Dropdown is hidden in docs"
# Bug report

## Describe the bug

Dropdown component is behind code sample in docs.

## To Reproduce

1. Go to https://ui.supabase.com/components/dropdown#placement
2. Click on "Bottom center" (or any of those buttons)

## Expected behavior

Dropdown should always appear in front of every other item on the page.

## Screenshots

<img width="282" alt="Screen Shot 2021-05-05 at 4 49 12 PM" src="htt

[2021-05-07 06:27] #175 closed

[2021-05-07 06:50] MildTomato commented on #185
this is interesting - will take a look.

Alternatively we could just use radix or headless ui for this, and I assume these issues will be cleared up as well.
As a quick solution I might just throw in a high z-index value on it.

[2021-05-07 14:14] MildTomato commented on #183
I think a community contribution fixed it.
There are a few console logs dotted around, I should clean up more..

On Fri, 7 May 2021, 9:31 pm Vaibhav Tandon, ***@***.***>
wrote:

[2021-05-07 15:30] harshcut commented on #152
Hey @Iamshankhadeep, it would be helpful if you could provide us your system information and the steps you did take to run this project on your local machine. I am having a problem with storybook not loading the styles.

- Operating System
- Version of npm
- Version of node

[2021-05-09 10:10] harshcut opened #188 "Bug: styles not visible in storybook"
# Bug report

## Describe the bug

The styles aren't being applied for components in storybook. This issue might only persist for windows operating system.

## To Reproduce

[code]

## Expected behavior

Styles should be applied.

## Screenshots

![image](https://user-images.githubusercontent.com/66206863/117567936-077f2980-b0dc-11eb-96f4-efe199e36d54.png)

## System information

- OS: Windows
- B

[2021-05-10 12:11] #133 closed

[2021-05-10 12:11] #185 closed

[2021-05-10 12:12] MildTomato commented on #154
closing this in preference for replacing components with radix

[2021-05-10 12:12] #154 closed

[2021-05-11 05:39] harshcut commented on #188
I tried installing the project on WSL (Ubuntu 20.04 LTS) and as expected it worked. There seems to be an issue with `postcss` on windows.

![image](https://user-images.githubusercontent.com/66206863/117763860-2818c200-b249-11eb-8383-4faa80ee85cd.png)

[2021-05-12 10:39] #188 closed

[2021-05-14 00:34] MildTomato opened #192 "feat: `as` prop for Button"
# feat report

Change the Button component to a different HTML tag or custom component. This will merge the original component props with the props of the supplied element/component and change the underlying DOM node.

Useful for Dropdown, which already has button tag in trigger, so using Button component means there are 2 button tags in DOM node.

type should be an `enum` that are html tags.

Mig

[2021-05-18 05:15] jin-exists opened #193 "Feat: Show change password view on <Auth/> component"
I’m trying to work out a flow for a forgotten password in my application, but the Auth component’s change password view doesn’t seem to be linked up to anything.

[2021-05-18 05:35] MildTomato commented on #193
Could you provide some more details on this?

There is currently only a 'forgotten_password' view in the Auth component, which can be shown by clicking 'Forgot your password?'.

The Auth example might not be working currently on [ui.supabase.io](http://ui.supabase.io), we should probably fix this as it's useful to play around with in the docs examples.

[2021-05-18 06:46] #192 closed

[2021-05-18 06:46] MildTomato commented on #105
fixed now in new version

[2021-05-18 06:46] #105 closed

[2021-05-18 06:47] MildTomato commented on #102
@angelmtztrc did you want to work on this?

[2021-05-18 06:57] kiwicopple commented on #188
:tada: This issue has been resolved in version 0.25.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.25.3)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.25.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-18 07:05] kiwicopple commented on #192
:tada: This issue has been resolved in version 0.26.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.26.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.26.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-18 12:39] jin-exists commented on #193
The forgotten password view works fine, it sends an email to change your password. The problem comes when you click that link. I would expect that upon clicking on the link, that a view shows up to actually change the password, or at the very least for the component to have the ability to have a prop passed to it to show said view.

In the code for the component (line 463, https://github.com/supab

[2021-05-19 05:07] awalias opened #195 "Feat: Add Twitter and Apple OAuth buttons"
these are now implemented on the backend

[2021-05-19 05:50] MildTomato opened #196 "Feat: `:focus-visible` to work across all components"
# Feature request

Respect `:focus-visible` on all interactive elements in library

https://css-tricks.com/almanac/selectors/f/focus-visible/

[2021-05-19 12:34] MildTomato opened #198 "Chore: add arrows to dropdowns"
# Chore

## Describe the chore

Add arrows to dropdown overlay panels

![Screenshot 2021-05-19 at 20 34 51](https://user-images.githubusercontent.com/8291514/118813412-acbaae80-b8e1-11eb-8ccb-bd6e47ca75d7.png)
https://radix-ui.com/primitives/docs/components/dropdown-menu#arrow

[2021-05-19 12:35] #196 closed

[2021-05-21 19:36] pdwittig opened #199 "Supabase UI Auth example (readme) - doesn't work as is"
# Improve documentation

## Link

https://github.com/supabase/ui/blob/develop/README.md

## Describe the problem
The Auth UI example doesn't work as is. Specifically, `supabaseClient` needs to be passed in to the `Auth` component. Also the `Container` component is not actually used in the example.
[code]

## Describe the improvement

This is what worked for me:

[code]

## Additional context

Add

[2021-05-23 07:35] ankitjena commented on #198
Hey, @MildTomato Would like to contribute. Is there some place I can refer to for setting up the project
Right now I am doing the following
- Forked the repo and run `npm build`
- npm link inside the repo
- add link in a test folder using `npm link @supabase/ui`

But I seem to be getting an error
![image](https://user-images.githubusercontent.com/23580602/119252030-745bee80-bbc7-11eb-9e8e-0554789b

[2021-05-25 03:03] MildTomato commented on #198
@ankitjena sorry for the late reply!

Yep, I've had the same problem as you're having.

To be honest, I've mainly been testing and playing around with components inside storybook, but we should really get into the habit soon of making components and road testing them in react apps on the fly - but this problem you mentioned keeps happening and I'm not super familiar with it.

I wrote up a fix that

[2021-05-27 04:07] MildTomato commented on #199
Thanks @pdwittig - this is my fault.
I'll amend the readme, unless you want to PR a change yourself?

[2021-05-28 01:51] Vandivier commented on #199
looks like @MildTomato is on it! admittedly I'm confused why we need the contextProvider if we are going to pass the object into the next layer directly

[2021-05-28 02:02] MildTomato commented on #199
@Vandivier I suppose it looks a bit strange

there's consumer in the Auth component which is where the Provider is actually used.
it just allows someone to easily check if someone is logged in.
[code]

A better example might be our NextJS example which shows all the working code for Supabase Auth integration, without using any @supabase/ui, bit easier to see what's going on.
https://github.com/sup

[2021-05-28 02:02] #199 closed

[2021-05-28 13:44] galanteria01 opened #206 "feat: Implementing Image component"
# Feature request

There is a requirement of image component, which i am thinking to implement as of now. If the developers like the proposal, I'd be grateful if this is assigned to me.
Image component would consist of Circular image or Avatar, BorderedImage and Image with source and style as parameters.

I'll submit patch within this weekend.

[2021-05-29 07:55] ankitjena commented on #198
@MildTomato Sorry for the late response on my end as well, busy week! Thanks for instructions. I went the easier route with storybook and made a PR, do review it if possible.

[2021-05-29 18:33] Etheonor commented on #182
Really need this one too!

[2021-05-29 19:42] jonthomp commented on #102
@MildTomato @angelmtztrc I'll give this a go if it is available?

[2021-05-29 20:20] angelmtztrc commented on #102
@jonthomp I have not a problem with that! I'm a little busy with other things, so go on!

[2021-05-31 02:24] MildTomato commented on #102
@jonthomp go for it!

[2021-05-31 04:51] MildTomato opened #210 "feat: Avatar component"
# Feature request

## Is your feature request related to a problem? Please describe.

Inspiration from
https://ant.design/components/avatar/

See https://github.com/supabase/ui/pull/208 thread for more details as well

[2021-05-31 04:51] MildTomato commented on #210
Adding this here for you @galanteria01 🚀

[2021-05-31 04:59] MildTomato commented on #182
Sorry for late response on this. I'll add it in 😄

[2021-05-31 05:17] galanteria01 commented on #210
@MildTomato
Thank you sir.

[2021-05-31 18:49] YashKandalkar opened #212 "bug: clean install of project does not work"
# Bug report

## Describe the bug

npm throws a resolution error when doing a fresh install (deleting package-lock.json and running `npm install`)

## To Reproduce

1. Clone repo
2. Delete package-lock.json
3. run `npm install`
4. See error

## Expected behavior

Proper package-lock.json to be generated without errors

## Screenshots

[code]

## System information

- OS: Windows
- Version of Node.

[2021-05-31 18:51] YashKandalkar commented on #212
@MildTomato I just wanted to run `npm test` to run tests, was planning to write tests for components but this resolutions needs to be fixed for `npm test` to run properly

[2021-06-01 01:08] MildTomato commented on #212
Might not be related, but for some reason we've had to run `npm install --legacy-peer-deps` when we upgraded tailwind / postcss, as it showed the error in the original post above.

[2021-06-01 06:50] MildTomato commented on #210
@galanteria01 as a heads up - we're going to be adding in user profile avatars into the project view in the supabase dashboard, so we'll possibly be using this component to show which team members are currently online viewing the same project.

I'll try and expand this issue above with a more detailed spec of what this component, but feel free to crack on if you are keen to get some basic function

[2021-06-01 06:59] galanteria01 commented on #210
@MildTomato
I have made a working Avatar component with fallbacks including Image, Icon, First letter of child text and lastly a user icon with greyish background uptill now. Considering your opinion what progress i can make to create a PR?
GroupAvatar is the one I'm thinking about, Your suggestions would be helpful.
Thank you sir.

[2021-06-01 07:36] MildTomato commented on #210
@galanteria01 yep, sounds good.

A group avatar subcomponent would be great.
something like:

[code]

[2021-06-01 07:40] galanteria01 commented on #210
Yes sir.
And even mapping quite a lot of elements inside it would be easier. I would
implement group and test it. And a prop of onHover on the extension element
could be given as callback. If user want to do something else he can else
fallback would be dropUp.

On Tue, 1 Jun, 2021, 1:06 pm Jonathan Summers-Muir, <
***@***.***> wrote:

[2021-06-01 15:51] ragnorc commented on #156
Also having this issue with Nextjs. How can we fix it?

[2021-06-01 17:25] #198 closed

[2021-06-02 11:42] #102 closed

[2021-06-02 12:00] MildTomato commented on #210
@galanteria01 awesome, feel free to PR whenever - even a work in progress if you like.

[2021-06-02 13:08] galanteria01 commented on #210
@MildTomato
Yes sir will PR tomorrow. Cleaning up implementation with tailwindcss and separating in Module.css.

[2021-06-02 22:48] angelmtztrc commented on #17
I don't if is the best way, but I was watching the way that `@windmill/react-ui` handles the theming, they have a `themes/default.ts` file that store an object with all of the names of the components and their styles (defaults, danger, info, etc). Then, they define a `ThemeContext` that will export the object globally in the application. After that, the components will extract their corresponding

[2021-06-02 23:03] jonthomp commented on #16
@MildTomato is this free for the taking?

[2021-06-03 01:53] MildTomato commented on #16
@jonthomp its now yours 😄

[2021-06-03 02:48] MildTomato commented on #17
@angelmtztrc yep, i think that's a good suggestion.

I think the only caveat of using a theme provider is you end up with _a lot_ of consumers around every component - but it's also how AntDesign seem to apply theming as well and it looks convenient if someone wanted to swap the theme on the fly in the app.

I'm not against moving away from css modules either (or changing how they work), they're a

[2021-06-03 07:38] kiwicopple commented on #198
:tada: This issue has been resolved in version 0.27.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.27.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.27.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-03 08:41] MildTomato opened #217 "[Bug] library loads all css into head"
# Bug report

## Describe the bug

All CSS is injected into the <head> regardless as to wether it has been used or not.

![Screenshot 2021-06-03 at 16 38 46](https://user-images.githubusercontent.com/8291514/120614972-61300500-c48a-11eb-880b-bf3544f288a1.png)

Using version 0.27.2
Using in NextJS

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. C

[2021-06-03 17:53] jonthomp commented on #217
🙋🏻‍♂️

[2021-06-03 23:32] jonthomp commented on #17
I would be a fan of the custom properties approach. Re browser support, we're already using tailwind which uses them so the risk is already present. A concern I might have around the context approach is centralising all the styles in one place, I like to have them as close to the related code as possible.

[2021-06-04 00:59] MildTomato commented on #217
@jonthomp I'm pretty sure we had this working before though

[2021-06-04 17:45] angelmtztrc commented on #17
@MildTomato I can start by creating the custom wrapper for the `tailwind.config.js` file if you have no problem with that

[2021-06-05 15:57] jonthomp commented on #155
This looks like a duplicate of https://github.com/supabase/ui/issues/73?

[2021-06-05 18:13] jonthomp commented on #92
I'm going to start working on this

[2021-06-06 05:12] pichichi91 commented on #24
Hi @MildTomato is this still a thing? I was looking for a "good first issue" and could would work on this and create a first PR for this

![image](https://user-images.githubusercontent.com/7605468/120913308-6bbeea00-c696-11eb-9925-de49f982d8ac.png)

[2021-06-06 06:03] pichichi91 opened #222 "Sidepanels not working on documention page"
# Feature request

## Is your feature request related to a problem? Please describe.

Not sure if it's a feature request or an bug report, as I don't know how much "ready" the sidepanels ([https://ui.supabase.com/components/sidepanel](https://ui.supabase.com/components/sidepanel)) are.

1. On the documentation site they keep appearing on really strange positions, especially on the lower areas on t

[2021-06-06 06:12] MildTomato commented on #222
Ahh @pichichi91 thanks for the bug report.

I think the docs site is using an old version of SupabaseUI. I'll update it 👍

[2021-06-06 06:12] #222 closed

[2021-06-06 06:19] #16 closed

[2021-06-06 06:22] MildTomato commented on #155
Yep @jonthomp, duplicate indeed.

Closing in preference for #73

[2021-06-06 06:22] #155 closed

[2021-06-06 06:23] MildTomato commented on #24
@pichichi91 yes please. that would be awesome! 🔥
I'll assign you the issue

[2021-06-06 06:41] MildTomato commented on #17
@angelmtztrc go for it!

I think @jonthomp has a point, in this library, we should possibly still try and keep styles locally to each component, but the custom wrapper just allows for those styles to be overwritten. (Did i understand that correctly?). Although I would still like to see global variables, like brand color etc.

I do also like the idea of just using custom properties, which also mean

[2021-06-06 06:44] MildTomato commented on #92
@jonthomp assigned to you!

[2021-06-06 09:25] YashKandalkar commented on #193
@jin-exists If you're talking about the user actually changing the password then after the email has been sent the supabase app  receives an access_token, and a `type=recovery` parameter in the url ([docs](https://supabase.io/docs/reference/javascript/reset-password-email#notes)). This can be used to update the password of the user.

And the Auth component in this repo which is linked to a supabas

[2021-06-07 10:34] MildTomato commented on #92
@jonthomp Hey Jon, some stuff I found using react-hot-toast today.

I thought I'd be able to quickly replace some of our toast messages with react-hot-toast, and basically just wrap the thing in [radix-portal](https://radix-ui.com/primitives/docs/utilities/portal) so that it renders on top of our Supabase UI overlays (SidePanel, Modal... and so on) but I found that react-hot-toast gets rendered be

[2021-06-07 16:59] jin-exists commented on #193
@YashKandalkar Thanks for the details on how the reset flow works Supabase side, it really helped!

I found a solution and am posting here for anybody else trying to build a reset flow. The JS library (not sure if it's the UI library or the main Supabase library) appears to already be parsing the URL and firing a `PASSWORD_RECOVERY` event on the `supabase.auth.onAuthStateChange` listener.

I'm usi

[2021-06-09 01:21] #182 closed

[2021-06-14 03:12] kiwicopple commented on #182
:tada: This issue has been resolved in version 0.27.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.27.3)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.27.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-15 02:47] MildTomato commented on #210
@galanteria01 are you still keen to work on this? we are looking to use this component in the next few days.
Happy to take this one if you're busy.

[2021-06-15 17:46] galanteria01 commented on #210
Hello sir. Actually it was first week of my internship so was little busy.
Tomorrow will submit patch . Sorry for delay sir.

On Tue, 15 Jun, 2021, 8:17 am Jonathan Summers-Muir, <
***@***.***> wrote:

[2021-06-16 05:34] #193 closed

[2021-06-16 06:53] #73 closed

[2021-06-16 14:49] huntedman opened #226 "Support forwardRefs for Input component"
# Feature request

## Is your feature request related to a problem? Please describe.

Support React.forwardRef() for Input component

## Describe the solution you'd like

Currently, passing a ref to the input field fails.

[2021-06-16 18:28] i-pip commented on #212
After trying a bunch of things, downgrading Node from v14 to v12 was the only thing that worked for me.
It appears npm v7 (which comes with Node v14) upwards is a lot stricter with dependency resolution errors than npm v6 (Node v12)... [using a Node version manager helped here](https://github.com/Schniz/fnm/).

This is a hack though, a better / long-term solution would be to upgrade dependencies a

[2021-06-17 17:19] jonthomp commented on #92
@MildTomato sorry for my delay, had some things to deal with, jobs to apply for, and got distracted by React 18.

Thanks for the tip, I added it in.
Also, good news re Radix Toast component, although it's on hold atm, their last plans were to also use `react-hot-toast` so migrating in the future will hopefully be easier.

https://user-images.githubusercontent.com/660222/122443592-a6c6f480-cf97-11e

[2021-06-18 00:25] bakerfugu commented on #182
Looks like this is still missing from the Props section of the docs https://ui.supabase.io/components/auth

[2021-06-18 11:39] MildTomato commented on #182
@bakerfugu yep! we automatically plucked props with the website but it looks broken.
If anyone wants to take a look, the website is here https://github.com/supabase/supabase-ui-web

[2021-06-18 14:35] jonthomp commented on #226
@huntedman there is an `inputRef` prop that you can use at the moment but I do agree more `forwardRef` support would be great

[2021-06-19 01:09] blazestudios23 opened #230 "redirectTo prop for Auth doesn't seem to do anything g"
While developing in my local environment I'm testing auth, however the auth aways redirect to my prod environment.

This is the component:

[code]

host = http://localhost:3000 when I log it out.

This feature seems to just not work. I really need a solution here as it stops local development.

[2021-06-21 02:55] MildTomato commented on #212
It seems like these issues are related mostly to Windows.
I'm working on OSX so I don't see any of these problems on my side.

@i-pip are you working on windows OS as well?

[2021-06-21 02:55] MildTomato commented on #212
related - https://github.com/supabase/ui/pull/214#issuecomment-864581231

[2021-06-21 08:50] i-pip commented on #212
@MildTomato I'm also working on OSX (Big Sur v 11.4). I tried it with Node 14.17.0 and 16.3.0 and both still give the same errors.

Then I tried it on my Ubuntu VM running Node v14.17.0 and it works just fine there 🤭

So definitely not a Node version issue - more like something wrong with my own environment

[2021-06-21 13:59] huntedman commented on #226
I'd be happy to open a PR about it, but I don't know how to "type" it.
I checked the source code and I encountered this:

[code]
Can anyone tell me what is this weird assignment syntax? I'm new to JS/TS and It's got me puzzled 😕. I don't even know how to google this.

[2021-06-22 10:20] MildTomato opened #231 "[RFC] Size of input and buttons do not match"
# Bug report

## Describe the bug

![Screenshot 2021-06-22 at 18 19 32](https://user-images.githubusercontent.com/8291514/122908214-752e9e80-d386-11eb-8329-6d9b12a11bbf.png)

Should match height for all sizes.
Icons also change the size of the button/input and they vary in size. Might not be able to rely on padding but rather a fixed height.

[2021-06-24 10:43] #212 closed

[2021-07-01 12:04] MildTomato opened #234 "[Feat] Date / Time / Date range picker"
# Feature request

## Is your feature request related to a problem? Please describe.

New data input component that can handle date, time and date ranges.

Will also be used to support postgres formats: `timestamp`, `timestampz`, `date`, `timetz` and `time`.

[2021-07-02 03:22] MildTomato commented on #226
@huntedman looking at this now I'm even wondering why I did this originally.

I think I made the TextArea a subcomponent because I was used to AntDesign doing the same thing.
But there's no real reason why it should be a subcomponent, and could just be part of the main Input function but use 'textarea' as a type, which makes more sense probably.

[2021-07-02 04:12] #92 closed

[2021-07-02 06:55] kiwicopple commented on #212
:tada: This issue has been resolved in version 0.28.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.28.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.28.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-02 06:55] kiwicopple commented on #73
:tada: This issue has been resolved in version 0.28.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.28.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.28.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-02 06:55] kiwicopple commented on #193
:tada: This issue has been resolved in version 0.28.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.28.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.28.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-02 15:05] manyeya opened #236 "'Auth' cannot be used as a JSX component when using React(NextJs) with typescript"
# Bug report

<img width="816" alt="Screenshot 2021-07-02 at 16 51 58" src="https://user-images.githubusercontent.com/42819801/124292951-6c905200-db56-11eb-9e6d-5390624a5537.png">

## Describe the bug

Auth component returns type 'Element | undefined' which is not a valid JSX element

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. setup React(Ne

[2021-07-02 15:34] raulriera opened #237 "[Auth] Signup and Login screens render issues"
# Bug report

## Describe the bug

It seems that when the Auth screen renders, the focus is automatically moved to the email field. This makes it impossible to type a password since the focus is constantly switching back

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Use the default <Auth> component with the default
2. Click on password field
3

[2021-07-02 15:47] MildTomato commented on #236
that's weird, thought i would of seen this before now.
thanks for the PR @manyeya 🔥

[2021-07-02 15:50] manyeya commented on #236
Happy to be of help 🙏🏾

[2021-07-02 16:11] MildTomato commented on #236
Just whipped up a nextjs typescript and I'm seeing the same thing, and also in the storybook stories 🙈

[2021-07-02 16:33] manyeya commented on #236
its a pretty minor thang , am not suprised  you missed it

[2021-07-03 08:33] #236 closed

[2021-07-03 11:19] MildTomato commented on #17
I've started a POC for this based on @angelmtztrc's suggestion
https://github.com/supabase/ui/pull/241

[2021-07-03 15:22] Dhaiwat10 commented on #226
I'd be interested in picking this one up if it still needs to be taken care of.

[2021-07-05 06:05] MildTomato commented on #226
There's a RFC on implementing better ref support [here](https://github.com/supabase/ui/pull/225)
Might be good to check that out and add your comments

[2021-07-05 22:40] sahil-shubham opened #242 "Page number input field obstructed by spinner on Firefox"
# Page number input field obstructed by spinner on Firefox

When dealing with a large data set, it's hard to know which page one is on due to the input field being obstructed on Firefox. One is only able to see the first letter of the page number as can be seen in the screenshot below.

![image](https://user-images.githubusercontent.com/60931421/124520969-a63db300-de0b-11eb-9919-173f92c5db68.png)

[2021-07-06 04:40] Dhaiwat10 commented on #226
Looks good. Should we wait for that PR to get merged? Since we'll be needing the util method & the type that they've created there?

[2021-07-06 06:48] huntedman commented on #226
I'll wait for the PR then.
Thank you for building such an awesome component library, and also enlightening me about "Subcomponents" 😅.

[2021-07-06 06:48] #226 closed

[2021-07-06 07:02] MildTomato commented on #226
I'm not entirely sure subcomponents were a good idea though 😅  I think in some cases its not great for tree-shaking, but its a nice way to package a few things together like the Radio component.

Perhaps they should all be separate components to minimise the footprint of the library.

[2021-07-06 07:13] harshilparmar commented on #242
(Suggestion) : From my understanding removing the number spinner is not the right solution instead setting that by giving some css. And for pagination issues, It should have another two-button for the first and last page from a UX perspective.

[2021-07-10 08:12] MildTomato commented on #242
thanks @sahil-shubham 👍

we had some CSS added for the arrows but they didn't work well when changing the size of the input.
more than happy to get this back in and working - and also make sure we hide arrows when they are not needed.

I think on the [Supabase Grid library](https://github.com/supabase/grid), there's an argument we probably shouldn't have a number input at all, and just concentrate

[2021-07-10 08:14] #161 closed

[2021-07-10 08:15] MildTomato commented on #231
Possibly get fixed with global theming

[2021-07-12 06:43] #173 closed

[2021-07-13 01:30] MildTomato opened #244 "Allow Auth component to hide email auth"
# Feature request

## Is your feature request related to a problem? Please describe.

https://github.com/supabase/supabase/discussions/2318

"Is it possible to disable the email/password log in boxes in the Supabase UI? I'm trying to only have a single OAuth login available, but can't find where I could disable the email/password"

## Describe the solution you'd like

Add a prop to disable/hide th

[2021-07-13 06:56] mstibbard commented on #244
You work amazingly quickly @harshcut!

I'm happy to open a seperate issue if that's preferred, but could we also split out the magic link option? My personal preference on new sites is third-party auth + magic link.

[2021-07-13 08:38] MildTomato commented on #244
@mstibbard yep, fancy opening a PR for that? I can merge in @harshcut PR now

[2021-07-13 08:41] #244 closed

[2021-07-13 08:42] MildTomato opened #246 "[Feat] Hide magic link option on Auth component"
# Feature request

## Is your feature request related to a problem? Please describe.

Be able to hide the magic link functionality.

Probably best to have it show the magic link by default.

[2021-07-13 08:43] MildTomato commented on #244
@mstibbard https://github.com/supabase/ui/issues/246

[2021-07-17 10:26] inian opened #247 "Next.js server side rendering warning, need to provide <IdProvider>"
### Discussed in https://github.com/supabase/supabase/discussions/2368

<div type='discussions-op-text'>

<sup>Originally posted by **mstibbard** July 15, 2021</sup>
I'm currently trying out supabase auth and Next.js and it's been fantastic so far! However, when running `yarn dev` I occasionally get the following warning in the terminal.

`When server rendering, you must wrap your application in a

[2021-07-19 09:15] sentry-io[bot] opened #248 "Modal onCancel TypeError: w is not a function"
Sentry Issue: [SUPABASE-APP-HJ](https://sentry.io/organizations/supabase/issues/2466741750/?referrer=github_integration)

[code]

[2021-07-25 15:39] sahil-shubham commented on #242
This seems like a better way to handle this, thank you for pointing this out.

Is someone working on this issue? If  not, I  would like to work on this.

[2021-07-26 14:57] MildTomato commented on #242
@sahil-shubham for changes on the table view, you can submit pull requests on https://github.com/supabase/grid
I think @phamhieu would like to see 'first page', 'last page' functionality being added.

[2021-07-26 17:39] kiwicopple commented on #244
:tada: This issue has been resolved in version 0.30.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.30.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.30.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-30 03:08] Dhaiwat10 opened #252 "Scroll doesn't get reset when selecting a different component from the sidebar in docs"
# Bug report

## Describe the bug
The window scroll doesn't get reset when selecting a different component from the sidebar in docs. So you have to manually scroll back to top if you had previously scrolled down. Attaching a screen recording below.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to https://ui.supabase.io/components/button
2.

[2021-07-31 12:35] enBonnet commented on #252
This issue is from another project, it's already reported https://github.com/supabase/supabase-ui-web/issues/5

[2021-07-31 14:42] Dhaiwat10 commented on #252
Awesome :)

[2021-07-31 14:42] #252 closed

[2021-08-02 09:27] MildTomato commented on #247
Does not look like a UI lib issue. Although I'll follow it in Discussions

[2021-08-02 09:27] #247 closed

[2021-08-03 04:39] Dhaiwat10 opened #254 "Feature req: File upload input area"
# Feature request

A file upload component which also supports drag & drop. Something like this:

<img width="621" alt="image" src="https://user-images.githubusercontent.com/39617427/127958560-67dd480d-bf9f-45bb-95bd-682b019ee654.png">

## Is your feature request related to a problem? Please describe.

The current library of input components doesn't include a file upload utility. I think this is a

[2021-08-03 05:40] MildTomato opened #255 "[Bug] [Dropdown] Using mouse to select drop down item traps mouse in active text selection - High priority"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

issue described here.
https://github.com/radix-ui/primitives/issues/742

## Expected behavior

Need a temporary workaround to stop it until RadixUI can fix

[2021-08-03 05:43] MildTomato commented on #254
@Dhaiwat10 go for it 👍

Might want to check out `./src/components/upload` as it was already started a while back.
needs finishing

[2021-08-03 07:12] #255 closed

[2021-08-03 18:25] mryechkin opened #256 "[Auth] Typography.Link isn't keyboard-accessible due to missing href"
# Bug report

## Describe the bug

When navigating the forms in `Auth` with a keyboard, all anchor tags generated from `Typography.Link` aren't accessible, as the `href` attributed is not applied in the rendered element:

<img width="470" alt="Screen Shot 2021-08-03 at 2 00 54 PM" src="https://user-images.githubusercontent.com/5657181/128063804-ed7e88d1-7678-481d-8a7b-c49916e5a0ee.png">

## To Rep

[2021-08-03 21:20] Dhaiwat10 commented on #254
Awesome

[2021-08-04 03:51] MildTomato commented on #256
This might be slightly bizarre, but we could give an id to the various sections and then use them in the `<a>` tags.

for instance, the actual final <a> tag could have a href like this:
[code]

[2021-08-04 17:08] mryechkin commented on #256
Yeah I guess that would work as well. Just have to make sure to `preventDefault()` in the `onClick` handler then

[2021-08-04 19:39] mryechkin commented on #256
@MildTomato any objections to me taking this one if you're good with that approach?

[2021-08-05 01:14] MildTomato commented on #256
@mryechkin go for it 👍

[2021-08-07 13:06] maciekgrzybek opened #258 "Error in the console when singing in with the Auth component."
# Bug report

## Describe the bug
Error in the console when singing in with the Auth component.

I'm using [this example](https://github.com/vercel/next.js/tree/canary/examples/with-supabase-auth-realtime-db) from the next repo. When I'm logging in I can see the error in the console:
<img width="511" alt="Screenshot 2021-08-07 at 13 59 44" src="https://user-images.githubusercontent.com/16546428/12

[2021-08-09 00:38] Dhaiwat10 commented on #254
@MildTomato were you able to have a quick look at the PR^ ?

[2021-08-09 23:05] jonas-kgomo commented on #17
Is there a current temporary fix for this?

[2021-08-10 05:21] MildTomato commented on #17
I'm afraid not, will try and get this done this week though

[2021-08-10 05:30] MildTomato commented on #254
Will look today 😄 @Dhaiwat10

[2021-08-12 17:28] Nazeeh21 opened #260 "Show Carousel in Supabase Cards"
# Feature request
Show Carousel in Supabase Cards for multiple images if the user wants to display Carousel in the Cards

## Is your feature request related to a problem? Please describe.

I want to display the Carousel in Supabase cards for my website.

## Describe the solution you'd like
Add a Carousel in Supabase Cards, if the images passed in the props are more than one.

A clear and concise d

[2021-08-13 11:40] bergiusj opened #261 "[Feat] Add translation option to text in Auth-component"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently the only way to change the text in the Auth component is through hacky CSS solutions. I myself encountered this problem when wanting to have the texts in the Auth component displayed in my native language.

## Describe the solution you'd like

The ability to pass in translations as props to the Auth com

[2021-08-14 19:09] maciekgrzybek opened #263 "Add typings for CSS modules"
# Chore

## Describe the chore

Add typings generation for CSS modules, so the `ts-ignore` rule can be removed

## Additional context

I had similar situation in my previous work. Would be nice to add it to remove the `ignores`. Of course, happy to pick that up.

[2021-08-16 09:54] sentry-io[bot] opened #265 "TypeError: p is not a function"
onCancel() in Modal

———

Sentry Issue: [SUPABASE-APP-MT](https://sentry.io/organizations/supabase/issues/2532400984/?referrer=github_integration)

[code]

[2021-08-18 17:09] #256 closed

[2021-08-18 17:17] MildTomato commented on #263
https://github.com/supabase/ui/pull/241 might eliminate this issue if we move away from css modules.
although i guess technically its a still a POC, still need to do more on it and test it more.

[2021-08-18 17:21] MildTomato commented on #260
Be good to hear what others think but I don't think we should support this in this library so it leaves it to whoever is using it to pick whatever they want to use for images/carousels.
My first thought is anyone using NextJS will probably want to use Next/Image, and I think even in Supabase we have a used a couple of different libraries depending on what we were trying to do - so I'm a bit weary

[2021-08-18 17:23] #195 closed

[2021-08-19 19:34] rodjoseph opened #267 "When SUPABASE_URL has a trailing slash, authentication with the Auth component does not work"
# Bug report

## Describe the bug

When SUPABASE_URL has a trailing slash, authentication with the Auth component leads to a page that is not found

## To Reproduce

Initialize a client with a URL with a trailing slash, e.g. "'https://xxxxxxxxxxxx.supabase.co/'

You are brought to 'https://xxxxxxxxxxx.supabase.co//rest/v1....'
## Expected behavior

You should be brought to 'https://xxxxxxxxxxx.sup

[2021-08-20 11:15] kiwicopple commented on #256
:tada: This issue has been resolved in version 0.33.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.33.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.33.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-28 17:42] AnirudhPanda opened #351 "[Website] Update a record part is not visible in desktop mode"
# Bug report

## Describe the bug

**Update a record** part is not visible in desktop mode

## Screenshots

![is](https://user-images.githubusercontent.com/66218496/131226301-97796fc2-a80b-4a60-ad02-b3149e30bc99.PNG)

## System information

- OS: Windows
- Browser (if applies): chrome

I would like to work on this!

[2021-09-14 14:13] MildTomato commented on #267
this looks like a supabase-js issue. moving it to that repo

[2021-09-14 14:13] #265 closed

[2021-09-14 14:14] MildTomato commented on #265
already fixed in previous version

[2021-09-14 14:14] MildTomato commented on #263
thanks @LiamMartens !

[2021-09-16 19:06] pmauchle opened #276 "InputNumber Icon wrong position"
# Bug report

## Describe the bug

The icon on the _InputNumber_ is not showing correctly. Compared to the Component _Input_ where it is correct.

## To Reproduce

https://codesandbox.io/s/supabase-ui-inputnumber-0ii5y?file=/src/App.js

## Screenshots

![image](https://user-images.githubusercontent.com/3627771/133670569-c2fcc41a-6b1c-482f-9761-4ab529d67467.png)

[2021-09-18 15:23] vaibhav111tandon commented on #276
@MildTomato Can I pick this up?

[2021-09-19 07:17] MildTomato commented on #276
@vaibhav111tandon go for it!

[2021-09-20 20:14] saniko opened #279 "Cannot see magic link when using the Auth ui component"
# Bug report

## Magic link functionality missing

Cannot see a magic link when using the Auth UI component

## To Reproduce

Follow basic code example from repo

[2021-09-30 08:55] chipilov opened #281 "The Remember Me"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain

[2021-09-30 09:28] chipilov opened #282 "Allow user-facing strings used in the library to be internationalized"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, the library seems to support ONLY English user-facing strings (e.g. "Sign in", "Remember me", etc). The library will be more useful for developers creating apps for non-English speaking markets if the library allows internationalizing the user-facing strings.

Allowing custom user-facing strings would

[2021-09-30 09:29] chipilov commented on #282
If the maintainers of the library are OK with the proposed solution, I can work on a pull request and send for review.

[2021-09-30 09:30] chipilov commented on #282
This is actually a dup of https://github.com/supabase/ui/issues/261

[2021-09-30 15:31] chipilov opened #283 "Browser console shows a React warning after a user clicks on the ""
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain

[2021-10-06 16:29] asyncink opened #285 "Modal closes after mouse moving to overlay"
# Bug report

Modal window from component <Modal /> closes after mouse moving to overlay

## Describe the bug

If user starts the click inside the modal content and moves the pointer outside the content area to the overlay area, then it behaves like the click was fired on the overlay area and the modal window closes.

## To Reproduce

1. Go to https://ui.supabase.com/components/modal
2. Click on '

[2021-10-06 17:34] MildTomato commented on #285
I think this is because the docs are out of date, the newer Modal probably doesn't behave like this.

Will investigate though 👍

[2021-10-10 05:58] perplexedyawdie opened #286 "[Auth] Some svg icons give "Invalid DOM property" warning"
# Bug report

## Describe the bug

In Next.js, when 'azure' or 'discord' is entered into to the providers props array, the above mentioned warning is thrown.

| Provider      | Warning |
| ----------- | ----------- |
| azure      | Invalid DOM property `stop-color`. Did you mean `stopColor`?       |
| azure   | Invalid DOM property `stop-opacity`. Did you mean `stopOpacity`?        |
| discord   |

[2021-11-14 20:20] brusacco opened #290 "Default messages in english"
# Feature request

Currently, the messages are hardcoded in English, like "Sign in with magic link", and it's no way to change them.

## Describe the solution you'd like

Add additional props to the component, to handle all those currently hardcoded texts, like:

signMagicLinkText="Sign in with magic link now!"

Thanks.

[2021-11-15 04:38] aicushman opened #291 "Make Auth.UserContextProvider expose the 3 states of user data: unknown, known absent, and known present"
# Feature request

## Is your feature request related to a problem? Please describe.

Not sure if this is a bug report or a feature request. Here's the problem:

The Auth.useUser hook often (always?) returns null immediately, no matter what. This makes Auth.useUser hard to use for client-side redirects.

Here's an example of something you might want to do: redirecting unauthorized users.

[code]

[2021-11-16 13:46] chipilov commented on #291
IMHO, this cannot be reliably solved in the UI library without changes in the underlying GoTrue.js client.

I think this is the relevant bug which first needs to be fixed in the GoTrue.js library: https://github.com/supabase/gotrue-js/issues/143

[2021-11-16 15:00] MildTomato commented on #291
This is interesting - since we have complete control over the provider we could probably have some more interesting and useful props like 'loading' perhaps.

having an undefined might be a nice compromise for now since it won't change it much and not break it for current users.

[2021-11-16 15:00] MildTomato commented on #291
ps. this repo has been left stale for a while, i intend to get back to it this week :D

[2021-11-16 15:37] MildTomato commented on #290
This looks like a duplication of https://github.com/supabase/ui/issues/261.
I'm going to close this is favour of #261.

[2021-11-16 15:37] #290 closed

[2021-11-17 06:17] MildTomato commented on #291
this is also related https://github.com/supabase/ui/pull/269

[2021-11-17 06:30] #291 closed

[2021-11-21 11:30] kiwicopple commented on #286
:tada: This issue has been resolved in version 0.36.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@supabase/ui/v/0.36.0)
- [GitHub release](https://github.com/supabase/ui/releases/tag/v0.36.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-29 10:08] Ziinc opened #296 "Icon docs are missing from official docs"
# Chore

## Describe the chore
Official docs are missing Icon components available as well as how to use examples.

[2021-11-29 10:09] Ziinc opened #297 "chore: official docs favicon uses vercel logo instead of supabase logo"
# Chore

## Describe the chore
Need to update favicon src

[2021-12-02 08:55] Ziinc opened #298 "Button component does not accept non-memoized callbacks in jsdom environment"
# Bug report
Having trouble simulating button interactions in jest + jsdom.

This works:
[code]

This does not work:
[code]

However, if i switch out the event simulation library to `@testing-library/user-event`, then the following will work:

[code]
I had a scan of the Button src and suspect that it has to do with the way refs are handled, as well as how dispatched events are passed to the button

[2021-12-02 10:12] MildTomato commented on #298
I think I changed the Button component in the theming branch, I remember there being something wrong with `ref` though. I think it was set up a bit oddly before because the ref was needed on the container, not on the button itself as a hack to get a tooltip to work.

[2021-12-03 10:08] Ziinc opened #299 "Dropdown component items can't be interacted with in jsdom env"
# Bug report

Seems like the radix implementation places the dropdown dom node at the bottom of the body (after scripts), which is out of the container dom node that the dropdown is rendered in.

I think this interferes with the way react-testing-library renders components in jsdom, as the container dom node for component does not seem to show the dropdown options showing `screen.debug()`, which s

[2021-12-03 10:11] Ziinc commented on #299
Example test case:
[code]

[2021-12-03 10:18] Ziinc commented on #299
On a related note, the radix implementation also gives a validateDOMNesting warning when rendered in jsdom env
[code]

[2021-12-03 10:18] MildTomato commented on #299
Not sure this is an issue, its by design that radix mounts the node at the bottom of body.

[2021-12-03 10:21] MildTomato commented on #299
all the overlays behave like this by the way. all overlays are inserted at the bottom of body so they are rendered correctly on top of each other. I'm not sure if it's the 'best solution', but we're just following best practise from Radix really.

[2021-12-03 11:02] Ziinc commented on #299
Seems like its a known issue with the radix library.
https://github.com/radix-ui/primitives/issues/856

Doesn't look like an issue with the overlay after reading the issue, seems like dropdown isn't picking up the event at all. i'll probably monkey patch the userEvent library on test setup then. Seems very hacky tho.

[2021-12-03 11:02] #299 closed

[2021-12-27 15:12] jeevanantham123 opened #302 "showing only Oauth login feat"
Can we have a argument to pass disable Auth Login Component as we can only have Oauth Logins as we wish?

[2021-12-27 19:10] Ziinc opened #303 "Copy-pastable text display with text wrapping"
# Feature request
For logs metadata display, users have feedbacked to be able to copy-paste out metadata easily for debugging purposes.

As the values are mostly read-only and need to be in a text-wrapped format,  the current available input used for copying as shown below is insufficient as the text cannot be wrapped.
![image](https://user-images.githubusercontent.com/22714384/147500287-48cf9263-

[2021-12-29 13:43] Emokores256 commented on #173
Any idea of how to use the headlessui/select-listbox in a practical form?

[2021-12-30 20:44] MildTomato commented on #173
Last time I checked I think the Listbox component uses an `<ol>` tag with `<button>` tags inside which probably makes it impractical to use in a form unless you are using React.useState or a react form library to handle the state of the listbox.

My plan for this collection of components was to eventually remove ListBox, as it was just a temporary solution until I'd had a look at a Select library

[2021-12-31 02:10] Emokores256 commented on #173
Thanks for the concern. I'm actually using React on the frontend with
Laravel on the backend and inertia is just the go between for my frontend
and backend. I'm so mixed up with this. I tried using React-Select but
styling it to look like the rest of the form controls made it hard for me
to use. I'm so stuck on how to use this whole thing. Capturing the from
data as a JSON object to send it to Lar

[2021-12-31 02:23] Emokores256 commented on #173
I think the headlessui Listbox custom select component can work. It's
actually a good fit but it requires me sending the data as a JSON object to
the backend so that Laravel can store it in the database. But doing this
has made me stuck for a while now, and also validating the select component
looks impossible.

On Fri, Dec 31, 2021, 05:10 Emmanuel S. Emokor ***@***.***>
wrote:

[2022-01-01 01:50] chirdeeptomar commented on #302
Not sure if I got your question correct but if you are after only showing the social logins then you can set

`onlyThirdPartyProviders={true}`

[2022-01-01 02:10] MildTomato commented on #173
Not sure I'm following @Emokores256 - and it might be better to direct your question to the [headlessui repo](https://github.com/tailwindlabs/headlessui) instead.

In the [headless UI listbox first example](https://headlessui.dev/react/listbox#basic-example) it shows how to use `onChange` prop to capture the new value of the selected option in the Listbox when it changes. You could then build up a

[2022-01-01 05:04] Emokores256 commented on #173
I think I'll post the issues to the headlessui repo. I'm having issues
using it.

On Sat, Jan 1, 2022, 05:10 Jonathan Summers-Muir ***@***.***>
wrote:

[2022-01-03 05:29] jeevanantham123 commented on #302
@chirdeeptomar Thanks

[2022-01-03 05:29] #302 closed

[2022-01-14 19:18] jchekanoff commented on #17
How have things progressed on theming? @MildTomato thank you for all you're doing 🙏

[2022-01-14 19:46] MildTomato commented on #17
As you can see, it was not 1 week. 😬

I am working on this right now though.

I'm currently refactoring some more components away from CSS modules but I'm getting there.

### Main changes

In short, though, a lot of components are using Radix primitives, and there is a react theme provider that inserts either default tailwind CSS classes, or you can override the theme with your own one. (You could

[2022-01-14 21:00] jchekanoff commented on #17
Wow, awesome! Thanks for the reply. I'd offer to help, but Radix is new to me so I'd likely just slow things down.

For now, we're doing this:

[code]

That along with the `style` prop inside of `<Auth/>` gives us all we need to customize manually.

Quite honestly, an `unstyled` prop would be pretty nice to be able to use `Auth` and the parent wrapper without any styles.

[2022-01-14 21:29] #276 closed

[2022-01-14 21:30] MildTomato commented on #260
Closing this for now

[2022-01-14 21:30] #260 closed

[2022-01-14 23:59] MildTomato commented on #17
@jchekanoff are you just using `<Auth/>` ?

[2022-01-15 00:06] MildTomato commented on #17
Sounds like a good idea.

I think we need to move the Auth component into its own repo really, so we can explore more styling/themes/unstyled solutions as right now it's burdened by the rest of the libraries styling solution.

[2022-01-17 08:52] Ziinc opened #309 "bug: validateDOMNesting with Dropdown component and Button child"
Using the `<Dropdown />` component with a button as per the examples in the docs results in the following console error:
[code]
seems like the implementation wraps the inner child with a button, so this:

[code]
will result in this:
[code]

Not sure if this is expected behaviour, as docs example shows Dropdown wrapping a Button

<img width="645" alt="image" src="https://user-images.githubuserconte

[2022-01-17 10:50] Ziinc opened #310 "Input component with label prop does not set `for` attribute"
# Bug report
the `<Input label="From" />` does not correctly set the `for` attribute on the label.

Discovered this bug when attempting to select the input through the label with dom-testing-library, which gave this error:
[code]

Checking the generated label tag gives the following:
[code]

As you can see, the `for` attribute on the `<label>` tag is not set.

You can also see the behaviour in the

[2022-01-17 15:18] MildTomato commented on #310
this is will be fixed in theming release

[2022-01-17 15:19] MildTomato commented on #309
This docs example is wrong. should be:

[code]

closing this for now. the whole docs site will be updated with new examples.

[2022-01-18 15:12] Ziinc commented on #309
Gotcha, though if we're wrapping the dropdown children, perhaps a nicer api would be to allow button props to be passed with the Dropdown component, for example

[code]
or perhaps
[code]

just some thoughts 💭

[2022-01-18 15:25] Ziinc opened #311 "`Input` component hiding of error icon"
Would be great to have a prop to hide the error icon, currently it shows by default, which in some situations (see below) would make the input bar actions area even more cluttered. Currently no way to hide it once the `error` prop is provided.

![image](https://user-images.githubusercontent.com/22714384/149966080-744db69d-90cd-4b5f-ae43-ca8d60b6bffe.png)

[2022-01-18 15:27] MildTomato commented on #309
Nice!

I think the main thing is I think is the trigger can be 'anything', and we don't dictate how the trigger should look, or what it is. So we can't assume it will always be the Button component.

The only reason I think the Dropdown wraps the trigger is so it can apply the correct `aria-haspopup` label to <button>, (also so someone doesn't need to add `<button>` either) - but it is problematic

[2022-01-18 16:20] MildTomato commented on #311
great idea!

[2022-01-19 08:35] FatumaA commented on #311
@MildTomato Can I try this one?
Also, shouldn't the error icon be with the error msg instead of within the input component?

[2022-01-19 14:51] Ziinc opened #312 "Popover component showClose icon overlaps with overlay elements"
Using the Popover component with `showClose` enabled results in overlap in elements

You can faintly see the overlap of the `X` icon with the input, this is because there is no padding set to the overlay.
<img width="392" alt="image" src="https://user-images.githubusercontent.com/22714384/150154549-0aeda1ae-39e4-4fe2-9029-f27e2cb37dc1.png">

Also, on a separate note, seems like we will need to set

[2022-01-20 19:46] Neesh774 opened #313 "Code Block Delayed Blur"
# Bug report
## Describe the bug

A clear and concise description of what the bug is.

Code blocks turn dark a little later than the rest of the page when opening a modal

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [the Modal page on the UI Docs](https://ui.supabase.com/components/modal)
3. Scroll down to any demonstration of a modal
4

[2022-01-20 19:51] Neesh774 opened #314 "Sidepanel Code Block bugs"
# Bug report

## Describe the bug

As I open a sidepanel demo, the code blocks on the page do not dim with the rest of the website, similar to issue #313, except the code blocks do NOT dim at all

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to [The sidepanel demonstration page](https://ui.supabase.com/components/sidepanel)
2. Scroll down t

[2022-01-20 20:16] jchekanoff commented on #17
@MildTomato Sorry I missed this -- Yes! Just using `<Auth/>`.

[2022-01-20 20:23] jchekanoff opened #315 "Add `unstyled` to `<Auth/>`"
# Chore

## Describe the chore

A quick refactor to `<Auth/>` to remove any styling using the prop `unstyled`.

## Additional context

As referenced in https://github.com/supabase/ui/issues/17#issuecomment-1013552619:

[2022-01-20 20:56] MildTomato commented on #17
@jchekanoff ok! - I'm starting a [new repo](https://github.com/supabase/auth-elements) for the Auth component.
I think we're going to drop support for it in this library as it will need its own theming/customization solution and I don't want the Auth component to force anyone to install a whole UI library just to use it.

I'll make sure that the new package (probably called @supabase/auth-elements

[2022-01-20 21:00] jchekanoff commented on #17
Awesome! I won't work on a PR for this repo, then :smile:

Tag me in on supabse/auth-elements#4 if I can contribute there.

[2022-01-20 21:21] Hallidayo opened #316 "Auth Route Error"
# Bug report
## Describe the bug

When clicking on 'Auth' under 'Supabase Connected' the page does not load and the following error shows:

'An unexpected error has occurred.'

## To Reproduce

1. Go to [https://ui.supabase.io/](url)
2. Click on 'Auth' under 'Supabase Connected' on the left hand side menu

## Expected behaviour

The Auth guide/example page should load.

## Screenshots

![image](ht

[2022-01-21 16:07] alk-mandrianarijaona opened #317 "`/components/*` pages are broken"
# Bug report

When navigating to a component page, like https://ui.supabase.com/components/icon, there is an error and the page is not loaded

## Describe the bug

The following errors were found on the console :

[code]

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to 'https://ui.supabase.com/components/auth'

## Expected behavior

[2022-01-21 19:45] MildTomato commented on #311
It might be best to avoid changing anything right now in master branch

I'm about to merge a huge change into the alpha branch, so it might be better to work on changes for this on that branch since I think a lot of the actions container has been refactored.

[2022-01-21 19:48] MildTomato commented on #311
@FatumaA I think the best action to take might be to just add a new prop, like `hideErrorIcon` which would stop the icon appearing altogether when `error` prop is used.

[2022-01-21 20:03] MildTomato commented on #210
Closing this as the component has been started on

[2022-01-21 20:03] #210 closed

[2022-01-21 20:03] #104 closed

[2022-01-21 20:04] #303 closed

[2022-01-22 08:42] FatumaA commented on #311
Ok, thanks @MildTomato, I will go ahead and attempt a fix for this then

[2022-01-23 22:26] alexchenhz opened #319 "Auth email confirmation message will not display"
# Bug report

## Describe the bug

When use signs up, the message "Check your email for the confirmation link." does not display.

This is caused by the code [here](https://github.com/supabase/ui/blob/461bea21c31cabe5a5ce87045e71b7c773d912ee/src/components/Auth/Auth.tsx#L327-L339)

According to the [docs](https://supabase.com/docs/reference/javascript/auth-signup), `supabase.auth.signUp()` does no

[2022-01-26 17:01] flavrwebdev commented on #319
+1 on this. I thought I was doing something wrong with tracking the view events but this is caused exactly how Alex @alexchenhz has explained.

This currently causes quite a big issue with the user sign up flow as no feedback is provided to the user at all.

[2022-01-26 18:03] alexchenhz commented on #319
Created a PR: https://github.com/supabase/ui/pull/320

[2022-01-26 23:55] #319 closed

[2022-01-28 15:59] neotan commented on #234
Hi @MildTomato , I'm keen on picking this up if possible. Before that, may I ask few questions:
1. is there any mockup/prototype for reference?
2. any specific features required? Or we follow some other UI libs' features?
3. any other things noticeable?

Thank you!

[2022-01-31 01:20] ace-beattie opened #321 "UserContext causes react hydration error."
# Bug report

## Describe the bug

UserContextProvider causes a React hydration error. (user/session values are different on server-side render and first client-side render).

## To Reproduce

Connect to the UserContext with Auth.useUser() anywhere in a component that is hydrated. This is easiest to reproduce in Next.js (because it pre-renders any page without a get__Props export).

Make parts of

[2022-01-31 19:49] ace-beattie commented on #321
Seems like this is more an issue of React than Supabase. The easiest way to get around this if your page is hydrated is to render the component client-side only and suppress the hydration warning.

[code]

[2022-01-31 19:49] #321 closed

[2022-02-17 01:05] mrmckeb commented on #247
I came across this looking for something else, but this [is (or was)](https://www.radix-ui.com/docs/primitives/utilities/id-provider) required by `radix-ui` components @MildTomato - which is why users of the lib may hit this if they don't have that provider.

[2022-02-28 12:05] MildTomato opened #328 "Move Auth Component to Supabase Auth Helpers"
# Feature request

## Describe the solution you'd like

Move the Auth component to the Supabase Auth Helpers library in Supabase community.

https://github.com/supabase-community/supabase-auth-helpers/issues/31

Remove the Auth component and exports from this library.

## Describe alternatives you've considered

Considered hosting the pre built UI in it's own repo, but it's probably more straightf

[2022-03-07 00:19] MildTomato opened #330 "Date picker"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

example libraries we could utilize

[v0ltoz/react-datetimepicker](https://github.com/v0ltoz/react-datetimepicker)
https://github.com/Hacker0x01/react-datepicker

## Describe the solution you'd like

A clear and concise description of wha

[2022-03-09 06:53] yo9e5h opened #332 "Fix Icon position with InputNumber."
# Bug report

The Icon is not aligned with input field.

## Expected behavior

Icon should align with input field in InputNumber.

## Screenshots

<img width="426" alt="Screenshot 2022-03-09 at 12 14 27" src="https://user-images.githubusercontent.com/11131787/157387797-c5ea97be-f5c8-4721-bed0-e0ce20d00aa8.png">

[2022-03-16 10:30] Ziinc opened #334 "Input.TextArea overflow scroll bars need to be adjusted to match theme"
<img width="471" alt="image" src="https://user-images.githubusercontent.com/22714384/158570292-f034eebe-5109-4a79-8d8d-3435d718a1bc.png">

[2022-03-16 10:31] Ziinc commented on #334
Also, copy button overlaps with the scroll bar, pehaps can default to using slim scrollbars

[2022-03-18 23:14] benjaminpreiss opened #335 "useEffect doesn't work on user after signIn"
# Bug report

## Describe the bug

useEffect doesn't work on user after signIn.

## To Reproduce

Here is my Login page from nextjs:

[code]

## Expected behavior

After I sign in, the user should be redirected to another page. Instead, nothing happens (not even a rerender.

[2022-03-22 12:24] Hallidayo opened #336 "Buttons with Icons alignment"
# Improve documentation

## Link

[Button Using Icons](https://ui.supabase.io/components/button#using-icons)

## Describe the problem

The buttons in the example code block are not aligned with the button to right slightly down a bit:

<img width="689" alt="Screenshot 2022-03-22 at 12 21 38" src="https://user-images.githubusercontent.com/22655069/159480903-ad7e9bcf-c25d-4901-9b39-cc47307bdaf5.png"

[2022-03-22 12:59] Hallidayo commented on #334
@Ziinc - What browser/device are using?

I am running Chrome 99.0.4844.74 on MacOS and I see the following:

<img width="82" alt="Screenshot 2022-03-22 at 12 56 59" src="https://user-images.githubusercontent.com/22655069/159487377-2fb29271-9e34-478e-854a-afeb4ec85415.png">

[2022-03-22 14:58] MildTomato commented on #334
The scrollable tabs are also doing this, probably something browser-specific we've forgotten about.

I think the best way to treat scroll bars is to just use the default browser scroll bars, the major browsers all have good implementations.

I tried adding custom scrollbars based on light and dark themes and it seems to not support transparency either, so the default browser scrollbars always ende

[2022-03-22 15:01] MildTomato commented on #336
They should be inside a div with flex box usually.
Not sure why they are misaligned in the first place though.

The Button used to have a container `<div>` around it before, and it's been removed in the pre release versions, so it might not behave like this anymore.

[code]

[2022-03-22 15:16] MildTomato commented on #332
This is possibly fixed in the pre release versions

[2022-03-22 16:40] Hallidayo commented on #336
@MildTomato - I've just created a [pull request](https://github.com/supabase/supabase-ui-web/pull/50). Would have been sooner if Github had not gone down 😂

[2022-03-23 12:52] fredgig opened #337 "Textarea input resizing feels sluggish and delayed due to transition-all utility class"
# Bug report

## Describe the bug

`transition-all` utility class affects the behavior of textarea input resizing by making it feel sluggish and delayed.

## To Reproduce

1. Go to any page containing a resizable textarea input.
2. Drag the input box from the bottom right corner
3. Notice the textarea "dragging behind"

## Expected behavior

The textarea should not be "dragging behind" when being

[2022-03-23 13:44] fredgig opened #338 "ListBox header options shouldn't be selectable"
# Bug report

## Describe the bug

ListBox header options, such as the `User-defined Enumerated Types` and `PostgreSQL Data Types` options (In the ListBox contained within the form to create a new db table) are selectable and return the value of `header-1` and `header-2` respectively.

## To Reproduce

1. Go to the page to create a new db table
2. Open the ListBox to select a column data type
3. S

[2022-03-23 14:05] Ziinc opened #339 "Badge component needs a `className` prop for styling of wrapper element"
<img width="324" alt="image" src="https://user-images.githubusercontent.com/22714384/159717760-d9d90d6c-1056-4017-a968-8a36f38b9554.png">

right now not easy to customize the badge component.

Also needed for styling the inner contents of the badge, otherwise would have to wrap the child in additional tags.

[2022-03-23 15:43] Hallidayo opened #340 "Modal (Custom) - Close Button Action"
# Improve documentation

## Link

[Modal Footer Custom](https://ui.supabase.io/components/modal#footer-custom)
[Modal Footer Custom Vertical](https://ui.supabase.io/components/modal#footer-custom-vertical)

## Describe the problem

When you click on `Open modal` on either of the two sections above their doesn't seem to be an action on the `Cancel` button. The only way to hide the modal is to click

[2022-03-25 00:54] kaspnilsson commented on #328
Hi,

Please do consider bundle size issues when making this change. I use the helpers but not these UI components, but the way they've been included in the library increases my bundle size massively anyway.

[2022-03-25 09:48] MildTomato commented on #328
Yep, this bundle size is pretty big, we won't be just moving the auth component over, we will rework how they work so they don't have any dependencies from @supabase/ui.

[2022-03-30 11:43] rodbs opened #341 "Modal examples don't work right"
# Improve documentation

## Link
https://ui.supabase.com/components/sidepanel

## Describe the problem
When you click on the Modal examples I think they take as a reference the top of the page, and as you scroll down you can see the modals

## Describe the improvement

Fix the code

## Additional context

[2022-03-30 11:44] MildTomato commented on #341
thanks @rodbs

the whole website is out of date. All of the examples need updating to use the alpha pre release version.

[2022-04-11 12:56] Ziinc opened #343 "Alert: width of children is not maximized"
<img width="728" alt="image" src="https://user-images.githubusercontent.com/22714384/162743925-c5852d9b-2809-4131-b845-2b1656bf18cf.png">

the size of the Alert title seems to set the inner children's width

[2022-04-16 23:45] mozeryansky opened #344 "How can I handle auth errors?"
When a user sign up or login fails the component will show the error, but how can my app know what happened?

[2022-04-16 23:50] mozeryansky opened #345 "Form does not reset after failed login/signup"
# Bug report

## Describe the bug

When I cause an auth failure the form will show a spinner on the button and the error message, but the button stays disabled and I can't submit the form again.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Enter an unregistered email/password
2. Press 'Sign In'

## Expected behavior

Enable the button after r

[2022-04-19 17:55] Hallidayo commented on #345
@mozeryansky - Do you get any errors in the console? I can not seem to replicate:

https://user-images.githubusercontent.com/22655069/164065640-8c396968-d52d-4c4b-beb6-3513122c9da0.mov

[2022-04-20 02:28] mozeryansky commented on #345
The only log is the failed login attempt:
[code]

Here I see loading is set true, but it is not set to false after the requests come back:
https://github.com/supabase/ui/blob/c280fa175f2327a2c823951843f7e5b30dd6b9b4/src/components/Auth/Auth.tsx#L312-L326

Should that code call this function instead?
https://github.com/supabase/ui/blob/c280fa175f2327a2c823951843f7e5b30dd6b9b4/src/components/Auth/Au

[2022-04-20 04:10] mozeryansky commented on #345
I tried setting up a dev environment but I realized I'm not using React 18. I couldn't follow the linking instructions in `development.md` since there are breaking changes for React 18. I checked out an older version of my project using react 17 and the form does reset, so it must be a React 18 related issue.

[2022-04-20 08:46] Hallidayo commented on #345
Yeah I think this is related to React 18. I've just updated `react react-dom` to their latest versions on my test project. After updating I seem to be getting the same as what you have experienced in your opening post:

https://user-images.githubusercontent.com/22655069/164188462-b9bb561a-3b7b-4f5d-8834-482011a39bb5.mov

In the example above I was just using the example in the docs:

[code]

[2022-05-01 19:22] mozeryansky opened #350 "Support React 18"
# Bug report

## Describe the bug

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `npm install react@latest @supabase/ui@latest`

## Expected behavior

Supabase UI to be compatible with React 18

[2022-05-01 19:24] mozeryansky commented on #350
I am able to use `--force` and my project works fine. Currently, I am only using the Auth component.

[2022-05-02 08:47] MildTomato commented on #350
Just a heads up, we are moving the Auth component to https://github.com/supabase-community/auth-ui soon

[2022-05-05 08:38] Aldo111 commented on #345
Is there a better way to handle this in react 18?

[2022-05-05 08:43] mozeryansky commented on #345
https://github.com/supabase/ui/issues/350

No, I intend to make my own login form. The current form is nice but I don't want the UI just the functionality, it'd be good if they exposed something like `useAuthForm()` and I can define all the UI myself.

[2022-05-05 08:57] MildTomato commented on #345
@mozeryansky this might be handy https://github.com/supabase-community/supabase-auth-helpers

[2022-05-06 04:56] johndpope commented on #97
https://github.com/supabase/ui/tree/master/src/components/SidePanel
does this close this ticket?

[2022-05-08 20:49] eebbann commented on #350
add --force when installing dependencies it works

[2022-05-29 19:37] aggmoulik commented on #24
Hey @MildTomato, I think the PR was dropped for unavailability reason from the contributor, so can I complete the PR resuming his work.

[2022-05-31 08:45] #338 closed

[2022-05-31 15:36] dyaffe opened #356 "Google OAuth Reports Branding Issue"
# Bug report

## Describe the bug

During OAuth approval, Google reported the following to us:

You need to update the Google sign-in button on your project’s homepage so that it complies with the [Google sign-in branding guidelines](https://google.com/url?&q=http%3A%2F%2Fdevelopers.google.com%2Fidentity%2Fbranding-guidelines%23top_of_page). Please see attached screenshots for reference:

![Screen

[2022-06-03 05:47] Devkant21 commented on #336
Is this issue solved yet? If not can i take it up and work on it?

[2022-06-03 20:11] Hallidayo commented on #336
@Devkant21 Should be solved in the pr 👍

[2022-06-04 15:20] Devkant21 commented on #336
ok

[2022-06-13 14:30] web-programmer-here opened #357 "Error: Hydration failed because the initial UI does not match what was rendered on the server."
# Bug report

## Describe the bug

I am testing the Supabase UI with nextjs and using the basic setup, I keep getting this error:

[code]

## To Reproduce

- Create a simple nextjs app
- Add the auth component

[code]

if I remove `<Auth.UserContextProvider.....` it works without an issue.

## Expected behavior

Should not have an error

## Screenshots

<img width="951" alt="image" src="https://us

[2022-06-13 14:31] web-programmer-here opened #358 "Error: Hydration failed because the initial UI does not match what was rendered on the server."
# Bug report

## Describe the bug

I am testing the Supabase UI with nextjs and using the basic setup, I keep getting this error:

[code]

## To Reproduce

- Create a simple nextjs app
- Add the auth component

[code]

if I remove `<Auth.UserContextProvider.....` it works without an issue.

## Expected behavior

Should not have an error

## Screenshots

<img width="951" alt="image" src="https://us

[2022-06-13 14:32] #357 closed

[2022-06-20 14:34] madleo-dk commented on #358
I get this error from either of the following reasons:

1. Setting `supabase.auth.user()` inside my provider. Workaround is to use `supabase.auth.session()` to get the user object.
2. Nesting particular HTML tags/elements (refer to https://github.com/vercel/next.js/discussions/35773#discussioncomment-2489865)

[2022-06-20 17:12] yumyo opened #359 "Controlled InputNumber Chevron Up & Down event handling question."
# Bug report

## Describe the bug

While using the InputNumber component as a controlled component, clicking on the Chevron Up or Chevron Down icons does not fire an onChange event, but using the arrow keys inside the input does.

## To Reproduce

The same can be observed in StoryBook.
[https://ui-storybook-pre-release.vercel.app/?path=/story/data-input-inputnumber--controlled](https://ui-storyboo

[2022-06-29 07:55] nahtnam opened #360 "Only allow magic link sign in with the Auth component"
# Feature request

## Is your feature request related to a problem? Please describe.

I would like to only allow the use of magic link (no password sign in)

## Describe the solution you'd like

Maybe a flag `noPasswordAuth`?

## Describe alternatives you've considered

Tried this:

[code]

However there's still a link to go to the sign_in view

## Additional context

I personally don't want to st

[2022-06-29 08:05] MildTomato commented on #360
Auth component is being deprecated.
It will be replaced with [Auth UI](https://github.com/supabase-community/auth-ui)

I have been working on updating the new component to work with child components for exactly this use case.

The current component your using may be able to use <Auth.MagicLink/>, although I haven't tried it myself to be honest.

[2022-06-29 08:09] nahtnam commented on #360
Ooo very nice, I'll give that a shot. I noticed that it's written in typescript but it seems like types arent exported?

[code]

Any ideas on what could be going on?

[2022-06-30 08:24] MildTomato commented on #360
its prerelease currently, i think it's pending to be done

[2022-06-30 08:24] MildTomato commented on #360
if you fancy adding that in feel free to pull request some changes if you like. I won't have time to work on this until next week

[2022-06-30 08:27] MildTomato commented on #360
expect breaking changes btw. especially in regards to the theme/customization.
I'll probably change it so you have to explicitly import the theme into the component.

something like...

[code]

[2022-07-04 09:25] Perfecto-always opened #361 "Modal not showing up"
# Bug report

## Describe the bug

Modal created using the example docs is not showing up when opened

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Add a toggle function to a button to control the modal opening
2. Click on the button

## Expected behavior

The modal should be open and should stay open

## Screenshots

Here is what I see when I

[2022-07-05 10:20] #332 closed

[2022-07-06 14:00] julienR2 commented on #335
I have the same issue, while using `supabaseClient` from `@supabase/auth-helpers-nextjs` 🤔

I correctly setup the `UserProvider` in `_app`, but the `user` value return by useUser (from `@supabase/auth-helpers-react`) stays null.
And setting up the "redirectTo" params  on `Auth` doesn't change a think either..

Any ideas ?

[2022-07-06 14:05] julienR2 commented on #335
I guess my question might be a bit different from the op.. @benjaminpreiss did you make sur you setup the `Auth.UserContextProvider` in a parent component ?

On my side it's more of a question about how to make `@supabase/auth-helpers-nextjs` work correctly with `@supabase/ui`, since we are supposed to setup two different context for each (respectively `UserProvider` and `Auth.UserContextProvider`

[2022-07-08 15:48] Perfecto-always commented on #361
@Hallidayo could this be because of `radix` library?

[2022-07-15 00:37] ofeenee opened #362 "Svelte Component please! 🙏🙏🙏"
# Feature request

## Is your feature request related to a problem? Please describe.

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

##

[2022-07-18 08:36] richardwardza opened #365 "exporting component types"
# Chore

## Describe the chore

Some of the components in the UI library have their types exported ( eg [Button](https://github.com/supabase/ui/blob/335d73a79df9c3f4924dbdd8825f05ea7989f1ad/src/components/Button/Button.tsx#L7) ) while others do not, eg [Modal](https://github.com/supabase/ui/blob/335d73a79df9c3f4924dbdd8825f05ea7989f1ad/src/components/Modal/Modal.tsx#L13)

I feel it would be helpfu

[2022-07-18 08:37] richardwardza commented on #365
I'd be happy to pick this up and do it.

[2022-07-18 12:14] MildTomato commented on #365
Agreed, makes sense.
Would need this being worked on the `alpha` branch though, we can ignore `master`.

Some of these components can be ignored as well, as we just don't use them and are proving to actually be un-useful being in a UI lib

[2022-07-18 12:21] MildTomato commented on #365
@richardwardza I've marked the components above which I'm earmarking to deprecate

[2022-07-18 12:28] richardwardza commented on #365
Thanks @MildTomato !

To ensure nothing breaks "downstream" I won't rename anything already exported.

I'm going to use the naming convention of `ComponentNameProps`, like `ButtonProps`, `ModalProps`, etc.

I'll export them as `interface` and not `type` so anyone importing can take advantage of [declaration merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html) if needed.

[2022-07-18 13:31] Hallidayo commented on #359
Hi @yumyo,

Looking at the component `InputNumber` their is a `onChange` function which is using the reach hook `useCallback` to reduce the amount of re-renders for the component and this is why you do not see an event being logged.

[2022-07-18 14:02] richardwardza commented on #365
@MildTomato I was going to remove the unused props from the components but that's a big piece of scope creep to introduce and would lead to a bigger PR.
I'm happy to do this as a new issue though?

[2022-07-18 18:50] richardwardza opened #367 "chore: consolidate and remove unused props"
# Chore

## Describe the chore

Based off https://github.com/supabase/ui/issues/365#issuecomment-1187514442, this issue is to clean up the components props.
Remove any unused props and consolidate some of the existing props as per https://github.com/supabase/ui/issues/365#issuecomment-1187642452

## Additional context

Origional comment:

I'm happy to do this as a new issue though?

Reply:

[2022-07-31 03:40] Isaiah-Hamilton commented on #362
@ofeenee is this some what you are looking for? https://github.com/supabase-community/supabase-ui-svelte

[2022-08-18 02:23] willopez commented on #350
@MildTomato is there a plan to support React 18?

[2022-08-18 05:23] agrittiwari commented on #365
So , who want to contribute to Auth component, should avoid  until it is not moved to auth-helpers repository?

[2022-08-19 23:46] itsinalis commented on #358
I'm facing the same issue when trying to access user's properties (like `user.email` or `user.user_metadata_user_name`) when I use i.e. `const user = supabase.auth.user();`

Also the same thing happens when I try to access the user from the session like `supabase.auth.session()` as you suggested @madleo-dk

[2022-08-21 16:22] CompeyDev opened #372 "Supabase Auth UI does not function in TypeScript"
# Bug report

## Describe the bug
The examples given on the page https://ui.supabase.io/components/auth do not seem to work (in TypeScript with the latest Next.js).

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[code]

## Expected behavior

The given code would compile with no errors.

## Screenshots

![image](https://user-images.githubuserconten

[2022-08-22 08:25] CompeyDev commented on #372
More errors that seem to occur with the package
![image](https://user-images.githubusercontent.com/74418041/185875043-507fce62-5cd3-4533-b01d-49bc7e99f8e9.png)

This occurs within the package itself.

[2022-08-22 08:26] CompeyDev commented on #372
Sorry for accidentally closing the issue! 😅

[2022-08-23 02:37] sicktastic commented on #17
Is there a way to create your theme?  At this point, I just want to update the button colors to our branding.

[2022-08-24 09:12] MildTomato commented on #17
Released this last week.
https://github.com/supabase-community/auth-ui

Some docs on customizing.
https://supabase.com/docs/guides/auth/auth-helpers/auth-ui#customization
for overriding the button color, do something like [this](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui#override-themes)

[2022-08-25 04:15] sicktastic commented on #17
@MildTomato Do I have to install @supabase/auth-ui-react for themeing?  I am so confused about the docs.

[2022-08-25 05:00] sicktastic commented on #17
Thanks @MildTomato, that worked!

[2022-08-25 15:02] phongplus commented on #372
remove  <Auth.UserContextProvider supabaseClient={supabase}> and will work.

[2022-08-25 15:10] MildTomato commented on #372
This component is being deprecated.

Would it be ok to please refer to https://github.com/supabase-community/auth-ui

It is a new NPM package, so please use the new package 😄

[2022-08-26 13:43] CompeyDev commented on #372
It would not.

[2022-08-26 13:44] CompeyDev commented on #372
Sure, thanks for the help :)

Will let you know if I'm running into more issues.

[2022-08-26 16:06] MildTomato commented on #372
I'm going to close this issue for now since we have moved this component to https://github.com/supabase-community/auth-ui

[2022-08-26 16:06] #372 closed

[2022-08-29 17:39] bmelton commented on #358
Ran into this when I added a Google oAuth login to the example form, but was able to quickly resolve it by doing two things:

* Move the auth update functions out of the `Profile` function
* Move the Profile form to a new file and then dynamically import it with `ssr: false`

Hope this helps!

[2022-09-01 18:32] brianaderer opened #373 "Supabase UI Modal container collapse / positioning issue"
# Bug report

`.sbui-modal-container` is not being added to immediate parent of `.sbui-modal `causing container collapse. It was working and then all of a sudden stopped on a server restart, rolling back changes does not help. Manually adding `.sbui-modal-container` to the highlighted div in the photo fixes the layout issue, but the class is not being added by the Modal function for some reason.

[2022-09-01 18:45] brianaderer commented on #373
I am working around for now by targeting that div using a child selector and manually adding all the properties of .sbui-modal-container but this is messy, and I do believe the behavior is a bug

[2022-09-07 21:54] princefishthrower opened #374 "Assign Me: Dark Mode Docs / Implementation!"
# Feature request

## Is your feature request related to a problem? Please describe.

I see on the docs that dark mode setup is coming soon - is there an ETA on this? I don't want to overstep anybody.

## Describe the solution you'd like

You can assign me this task and I'll finish it, as long as what remains to be defined is clear!

## Describe alternatives you've considered

Light mode :(

## Ad

[2022-09-09 15:58] yumyo commented on #359
Thank you @Hallidayo I can see the useCallback in the storybook story, but not the actual component. Also, it still does not explain why this is not the case for onKeyDown, or if you just type a new number in the input but only when trying to use the chevrons.

[2022-09-13 01:23] lucky-chap commented on #373
@brianaderer this is not related to the post. But just want to know if this project is discontinued, because it seems there hasn't been any activity for over a month now

[2022-09-18 00:39] sahilpopli opened #375 "LinkedIn Icon not coming in Auth Component"
# Bug report

## Describe the bug
I have used Auth as given in one of your GitHub examples, everything working like water flows except  the Linkedin icon is missing.

This is the code.
[code]

I checked at this repo where there is no linkedin icon data - https://github.com/supabase/auth-elements/blob/master/src/components/Auth/Icons.tsx

How can I add this without breaking stuff?

## Screenshots

[2022-09-18 01:02] sahilpopli commented on #375
I added this in the dependency file to check,  under Auth component > icons file

[code]

But its invoking Hyderation error.

![image](https://user-images.githubusercontent.com/1723958/190881167-39e68a59-bc4c-4039-9d2f-551c381e05e9.png)

[2022-09-26 04:16] MildTomato commented on #375
Hey @sahilpopli - perhaps this has already been fixed in the new version of Auth UI.

The auth ui component has moved to [github.com/supabase-community/auth-ui](https://github.com/supabase-community/auth-ui)
The new NPM package is [@supabase/auth-ui-react](https://www.npmjs.com/package/@supabase/auth-ui-react)

You can read the [new docs for it here](https://supabase.com/docs/guides/auth/auth-help

[2022-09-26 04:16] #375 closed

[2022-09-26 04:28] MildTomato commented on #362
The auth component has been moved to it's own repo and package.

[github.com/supabase-community/auth-ui](github.com/supabase-community/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui).

It would be great if maybe we can start development on a svelte version in there.

I'm closing this for now, but feel free to make issues in the ne

[2022-09-26 04:28] #362 closed

[2022-09-26 04:29] MildTomato commented on #328
The auth component has been moved to it's own repo and package.

[github.com/supabase-community/auth-ui](github.com/supabase-community/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui).

[2022-09-26 04:29] #328 closed

[2022-09-26 04:29] #24 closed

[2022-09-26 04:30] MildTomato commented on #24
### Supabase UI is moving.

We are moving the components to the main mono repo at [github.com/supabase/supabase](github.com/supabase/supabase).

This issue is not in our current plans to support right now.
Thanks for all the contributions and comments so far.

[2022-09-26 04:31] #97 closed

[2022-09-26 04:31] #351 closed

[2022-09-26 04:32] #234 closed

[2022-09-26 04:32] MildTomato commented on #360
The auth component has been moved to it's own repo and package.
[github.com/supabase-community/auth-ui](github.com/supabase-community/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui).

[2022-09-26 04:32] #360 closed

[2022-09-26 04:33] MildTomato commented on #344
The auth component has been moved to it's own repo and package.
[github.com/supabase-community/auth-ui](github.com/supabase-community/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui).

[2022-09-26 04:33] #344 closed

[2022-09-26 04:33] MildTomato commented on #345
The auth component has been moved to it's own repo and package.
[github.com/supabase-community/auth-ui](github.com/supabase-community/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui).

Thanks for all the comments and suggestions so far.
If this is still an issue, please open a new issue in the new repo.

[2022-09-26 04:33] #345 closed

[2022-09-26 04:34] MildTomato commented on #356
The auth component has been moved to it's own repo and package.
[github.com/supabase-community/auth-ui](github.com/supabase-community/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui).

This issue has been fixed in the new repo.

[2022-09-26 04:34] #356 closed

[2022-09-26 04:34] #231 closed

[2022-09-26 04:35] #171 closed

[2022-09-26 04:35] MildTomato commented on #156
We're using a new setup using tailwind in the target app now.
Closing this now.

### Supabase UI is moving.

We are moving the components to the main mono repo at [github.com/supabase/supabase](github.com/supabase/supabase).

[2022-09-26 04:35] #156 closed

[2022-09-26 04:40] #217 closed

[2022-09-26 04:41] MildTomato commented on #217
The auth component has been moved to it's own repo and package.
[github.com/supabase-community/auth-ui](github.com/supabase-community/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui).

[2022-09-26 04:41] MildTomato commented on #373
### Supabase UI is moving.

We are moving the components to the main mono repo at [github.com/supabase/supabase](github.com/supabase/supabase).

Closing this issue as it's been solved in the monorepo.

[2022-09-26 04:41] #373 closed

[2022-09-26 04:43] MildTomato commented on #17
### Supabase UI is moving.

We are moving the components to the main mono repo at [github.com/supabase/supabase](github.com/supabase/supabase).

I encourage anyone who would like to see theming implemented in the supabase dashboard/studio to make a new discussion in the main mono repo.

https://github.com/supabase/supabase/discussions/new?category=ideas

[2022-09-26 04:43] #17 closed

[2022-09-26 04:43] #95 closed

[2022-09-26 04:44] #91 closed

[2022-09-26 04:46] MildTomato commented on #358
This is possibly fixed now in the new version.

The auth component has been moved to it's own repo and package.
[github.com/supabase-community/auth-ui](github.com/supabase-community/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/auth-ui).

There are also docs on our nextjs auth helpers that might help with these issues, especially SSR iss

[2022-09-26 04:47] MildTomato commented on #358
Closing this issue for now since the component has moved to a new repo.

[2022-09-26 04:47] #358 closed

[2022-09-26 04:47] MildTomato commented on #350
@willopez there is no plan now, as we've decided to move all the supabase ui components to our monorepo.
We will then only really be supporting the react versions being used in our monorepo.

[2022-09-26 06:52] lyqht commented on #358
hello @MildTomato , the auth-ui library link you have given is broken, could you help to update it? thank you!

[2022-09-26 08:49] MildTomato commented on #358
sorry about that, fixed the link @lyqht

[2022-10-03 02:02] chwan97 opened #377 "Auth component need captcha support"
When I turn on hCaptcha feature in dashboard, system always return me  "request disallowed"

Auth component need captcha support, or give a way that users can implement  it by themself.

[2022-10-03 04:30] MildTomato commented on #377
Supabase UI is being deprecated.
We are moving the components to the main mono repo at [github.com/supabase/supabase](https://github.com/supabase/ui/blob/master/github.com/supabase/supabase).

The auth component has been moved to it's own repo and package. [github.com/supabase-community/auth-ui](https://github.com/supabase/ui/blob/master/github.com/supabase-community/auth-ui). You can also read th

[2022-10-03 04:30] #377 closed

[2022-10-19 20:49] franz-josef-kaiser commented on #377
@MildTomato The links to [github.com/supabase-community/auth-ui](https://github.com/supabase/ui/blob/master/github.com/supabase-community/auth-ui) and [github.com/supabase/supabase](https://github.com/supabase/ui/blob/master/github.com/supabase/supabase) is a 404.

[2022-11-02 16:25] ru88s opened #379 "SidePanel is not available locally."
SidePanel is not available locally.
"next": "^13.0.1",
"@supabase/ui": "^0.36.5",

It works in production.

[2022-11-03 09:11] MildTomato commented on #379
## Supabase UI is being deprecated.

We are moving the components to the main mono repo at [https://github.com/supabase/supabase](https://github.com/supabase/supabase).

The auth component has been moved to it's own repo and package.
[github.com/supabase/auth-ui](https://github.com/supabase/auth-ui).
You can also read the [docs for auth ui here](https://supabase.com/docs/guides/auth/auth-helpers/a

[2022-11-03 09:11] #379 closed, assigned to nobody

[2022-11-03 14:00] plondon opened #380 "Badge w/ dot and color has square background of badge"
# Bug report
When setting `dot` prop && color of a badge, the result is an awkward square background around dot.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Add Badge
2. set dot prop to true w/ any color

[code]

## Expected behavior

Maybe the background should have a rounded radius? Or not exist at all.

## Screenshots

<img width="330" al

[2022-11-17 18:06] harshcut commented on #380
This is due to the `sbui-badge--${color}` being applied to the SVG, which gives the background color for the component wrapper.

[code]

https://github.com/supabase/ui/blob/989b9ed73fa773e50798638ee75aa4c42a45d1e0/src/components/Badge/Badge.tsx#L33-L35